<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>Brailie</title>
<link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/css/plugins.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/navigation.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/typewriter/css/typewriter.css">
<link rel="stylesheet" type="text/css" href="style/type/icons.css">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="style/css/color/blue.css">
<link href='https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="content-wrapper">
  <nav class="navbar solid nav-wrapper-dark inverse-text navbar-expand-lg">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand"><a href="index.html"><img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" /></a></div>
        <div class="navbar-hamburger ml-auto d-lg-none d-xl-none"><button class="hamburger animate" data-toggle="collapse" data-target=".navbar-collapse"><span></span></button></div> 
      </div>
      <!-- /.navbar-header -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="#">Home</a>
            <ul class="dropdown-menu mega-menu">
              <li class="mega-menu-content">
                <div class="row">
                  <div class="col-lg-3">
                    <ul class="list-unstyled">
                      <li><a href="index.html">Dark + Fullscreen + Lightbox</a></li>
                      <li><a href="index2.html">Onepage + Fullscreen</a></li>
                      <li><a href="index3.html">Revolution Slider + Typography</a></li>
                      <li><a href="index4.html">Dark + Fullscreen + Lightbox</a></li>
                      <li><a href="index5.html">Justifed Portfolio + Lightbox</a></li>
                      <li><a href="index6.html">Filmstrip + Lightbox</a></li>
                      <li><a href="index7.html">Box Layout + Fullscreen</a></li>
                      <li><a href="index8.html">Slide Portfolio + Parallax</a></li>
                      <li><a href="index9.html">Fullscreen + Revolution Slider</a></li>
                      <li><a href="index10.html">Carousel + Fullscreen</a></li>
                      <li><a href="index11.html">Category Slider + Typography</a></li>
                      <li><a href="index12.html">Split Slider + Lightbox</a></li>
                      <li><a href="index13.html">Image Comparison + Retouch</a></li>
                      <li><a href="index14.html">Fullscreen Portfolio + Minimal</a></li>
                    </ul>
                  </div>
                  <!--/column -->
                  <div class="col-lg-3">
                    <ul class="list-unstyled">
                      <li><a href="index15.html">Flow Gallery + Video</a></li>
                      <li><a href="index16.html">Filmstrip + Justifed Portfolio</a></li>
                      <li><a href="index17.html">Box Layout + Magazine</a></li>
                      <li><a href="index18.html">Split Slider + Typography</a></li>
                      <li><a href="index19.html">Fullscreen + Minimal</a></li>
                      <li><a href="index20.html">Onapage + Carousel + Dark</a></li>
                      <li><a href="index21.html">Typewriter + Carousel</a></li>
                      <li><a href="index22.html">Box Slider + Minimal</a></li>
                      <li><a href="index23.html">Thumbnail Slider + Travel</a></li>
                      <li><a href="index24.html">Slide Portfolio + Image Block</a></li>
                      <li><a href="index25.html">Fullscreen + Dark + Carousel</a></li>
                      <li><a href="index26.html">Filmstrip + Justifed Portfolio</a></li>
                      <li><a href="index27.html">Mosaic Portfolio + Box Slider</a></li>
                      <li><a href="index28.html">Carousel + Portrait</a></li>
                    </ul>
                  </div>
                  <!--/column -->
                  <div class="col-lg-3">
                    <ul class="list-unstyled">
                      <li><a href="index29.html">Onepage + Fullscreen</a></li>
                      <li><a href="index30.html">Split Layout + Lightbox</a></li>
                      <li><a href="index31.html">Filterable Carousel</a></li>
                      <li><a href="index32.html">Justified Portfolio + Parallax</a></li>
                      <li><a href="index33.html">Fullscreen Video + Carousel</a></li>
                      <li><a href="index34.html">Typewriter + Bevel</a></li>
                      <li><a href="index35.html">Fullscreen Autowidth Carousel</a></li>
                      <li><a href="index36.html">Modal Gallery + Parallax</a></li>
                      <li><a href="index37.html">Minimal + Masonry Portfolio</a></li>
                      <li><a href="index38.html">Blog + Magazine</a></li>
                      <li><a href="index39.html">Grid Blog + Carousel</a></li>
                      <li><a href="index40.html">Box Layout + Mosaic Portfolio</a></li>
                      <li><a href="index41.html">Grid Blog + Parallax</a></li>
                      <li><a href="index42.html">Fullscreen Carousel + Lightbox</a></li>
                    </ul>
                  </div>
                  <!--/column -->
                  <div class="col-lg-3">
                    <ul class="list-unstyled">
                      <li><a href="index43.html">Fullscreen + Modal Gallery</a></li>
                      <li><a href="index44.html">Box Layout + Masonry Portfolio</a></li>
                      <li><a href="index45.html">Split Layout + Overlay Menu</a></li>
                      <li><a href="index46.html">Split Layout + Modal Gallery</a></li>
                      <li><a href="index47.html">Overlay Menu + Mosaic Portfolio</a></li>
                      <li><a href="index48.html">Image Comparison + Parallax</a></li>
                      <li><a href="index49.html">Dark + Autowidth Slider</a></li>
                      <li><a href="index50.html">Box Layout + Magazine</a></li>
                      <li><a href="index51.html">Fullscreen Content Menu</a></li>
                      <li><a href="index52.html">Split Layout + Fullscreen</a></li>
                      <li><a href="index53.html">Split Layout + Maintenance</a></li>
                      <li><a href="index54.html">Maintenance + Fullscreen</a></li>
                    </ul>
                  </div>
                  <!--/column --> 
                </div>
                <!--/.row --> 
              </li>
              <!--/.mega-menu-content-->
            </ul>
            <!--/.dropdown-menu --> 
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Features</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Header</a>
                <ul class="dropdown-menu">
                  <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Classic Header</a>
	                <ul class="dropdown-menu">
	                  <li><a class="dropdown-item" href="header.html">Transparent Light</a></li>
	                  <li><a class="dropdown-item" href="header2.html">Transparent Dark</a></li>
	                  <li><a class="dropdown-item" href="header3.html">Dark Solid</a></li>
	                  <li><a class="dropdown-item" href="header4.html">Light Solid</a></li>
	                  <li><a class="dropdown-item" href="header5.html">Dark Opacity</a></li>
	                  <li><a class="dropdown-item" href="header6.html">Light Opacity</a></li>
	                </ul>
	              </li>
	              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Centered Logo</a>
	                <ul class="dropdown-menu">
	                  <li><a class="dropdown-item" href="header7.html">Transparent Light</a></li>
	                  <li><a class="dropdown-item" href="header8.html">Transparent Dark</a></li>
	                  <li><a class="dropdown-item" href="header9.html">Dark Solid</a></li>
	                  <li><a class="dropdown-item" href="header10.html">Light Solid</a></li>
	                  <li><a class="dropdown-item" href="header11.html">Dark Opacity</a></li>
	                  <li><a class="dropdown-item" href="header12.html">Light Opacity</a></li>
	                </ul>
	              </li>
	              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Overlay Menu</a>
	                <ul class="dropdown-menu">
	                  <li><a class="dropdown-item" href="header13.html">Transparent Light</a></li>
	                  <li><a class="dropdown-item" href="header14.html">Transparent Dark</a></li>
	                  <li><a class="dropdown-item" href="header15.html">Dark Solid</a></li>
	                  <li><a class="dropdown-item" href="header16.html">Light Solid</a></li>
	                  <li><a class="dropdown-item" href="header17.html">Dark Opacity</a></li>
	                  <li><a class="dropdown-item" href="header18.html">Light Opacity</a></li>
	                </ul>
	              </li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Slider</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="slider.html">Revolution Slider - Static Caption</a></li>
                  <li><a class="dropdown-item" href="slider2.html">Revolution Slider - Single Slide</a></li>
                  <li><a class="dropdown-item" href="slider3.html">Revolution Slider - Classic Fullscreen</a></li>
                  <li><a class="dropdown-item" href="slider4.html">Revolution Slider - Auto Layout</a></li>
                  <li><a class="dropdown-item" href="slider5.html">Revolution Slider - Thumbnail Fullscreen</a></li>
                  <li><a class="dropdown-item" href="slider6.html">Revolution Slider - Thumbnail Auto</a></li>
                  <li><a class="dropdown-item" href="slider7.html">Revolution Slider - Category Gallery</a></li>
                  <li><a class="dropdown-item" href="slider8.html">Revolution Slider - Flow Gallery</a></li>
                  <li><a class="dropdown-item" href="slider9.html">Revolution Slider - Video Gallery</a></li>
                  <li><a class="dropdown-item" href="slider10.html">Revolution Slider - Filmstrip Effect</a></li>
                  <li><a class="dropdown-item" href="slider11.html">Revolution Slider - Typewriter Effect</a></li>
                  <li><a class="dropdown-item" href="slider12.html">Revolution Slider - Split Slider</a></li>
                  <li><a class="dropdown-item" href="slider13.html">Image Comparison Slider</a></li>
                  <li><a class="dropdown-item" href="slider14.html">Swiper Basic Slider</a></li>
                  <li><a class="dropdown-item" href="slider15.html">Swiper Blog Slider</a></li>
                  <li><a class="dropdown-item" href="slider16.html">Swiper Portfolio Carousel</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Footer</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="footer.html">Centered Footer</a></li>
                  <li><a class="dropdown-item" href="footer2.html">Simple Footer</a></li>
                  <li><a class="dropdown-item" href="footer3.html">Detailed Footer</a></li>
                  <li><a class="dropdown-item" href="footer4.html">Widget Footer</a></li>
                  <li><a class="dropdown-item" href="footer5.html">Minimalist Footer</a></li>
                  <li><a class="dropdown-item" href="footer6.html">Reveal Footer</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Fonts</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="font1.html">Muli + Montserrat</a></li>
                  <li><a class="dropdown-item" href="font2.html">EB Garamond</a></li>
                  <li><a class="dropdown-item" href="font3.html">Roboto Slab + Roboto Sans</a></li>
                  <li><a class="dropdown-item" href="font4.html">Overpass</a></li>
                  <li><a class="dropdown-item" href="font5.html">Vidaloka + Muli</a></li>
                  <li><a class="dropdown-item" href="font6.html">IBM Plex Sans Condensed</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Colors</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="color1.html">Aqua</a></li>
                  <li><a class="dropdown-item" href="color2.html">Blue</a></li>
                  <li><a class="dropdown-item" href="color3.html">Brown</a></li>
                  <li><a class="dropdown-item" href="color4.html">Forest</a></li>
                  <li><a class="dropdown-item" href="color5.html">Green</a></li>
                  <li><a class="dropdown-item" href="color6.html">Ice</a></li>
                  <li><a class="dropdown-item" href="color7.html">Navy</a></li>
                  <li><a class="dropdown-item" href="color8.html">Oasis</a></li>
                  <li><a class="dropdown-item" href="color9.html">Orange</a></li>
                  <li><a class="dropdown-item" href="color10.html">Pink</a></li>
                  <li><a class="dropdown-item" href="color11.html">Purple</a></li>
                  <li><a class="dropdown-item" href="color12.html">Red</a></li>
                  <li><a class="dropdown-item" href="color13.html">Salmon</a></li>
                  <li><a class="dropdown-item" href="color14.html">Sky</a></li>
                  <li><a class="dropdown-item" href="color15.html">Teal</a></li>
                  <li><a class="dropdown-item" href="color16.html">Yellow</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="dropdown-item" href="box-layout.html">Box Layout</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Portfolio</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Grid Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="portfolio.html">Classic Grid</a></li>
                  <li><a class="dropdown-item" href="portfolio2.html">Fullscreen Grid</a></li>
                  <li><a class="dropdown-item" href="portfolio3.html">3 Columns with Detail</a></li>
                  <li><a class="dropdown-item" href="portfolio4.html">2 Columns with Detail</a></li>
                  <li><a class="dropdown-item" href="portfolio5.html">Classic Grid with Caption</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Masonry Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="portfolio6.html">3 Columns Masonry</a></li>
                  <li><a class="dropdown-item" href="portfolio7.html">2 Columns Masonry</a></li>
                  <li><a class="dropdown-item" href="portfolio8.html">Fullscren Masonry</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Justified Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="portfolio9.html">Classic Justified</a></li>
                  <li><a class="dropdown-item" href="portfolio10.html">Fullscreen Justified</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Mosaic Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="portfolio11.html">Classic Mosaic</a></li>
                  <li><a class="dropdown-item" href="portfolio12.html">Fullscreen Mosaic</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Modal Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="portfolio13.html">Single Column with Modal</a></li>
                  <li><a class="dropdown-item" href="portfolio14.html">Fullscreen Grid with Modal</a></li>
                  <li><a class="dropdown-item" href="portfolio15.html">Parallax Portfolio with Modal</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Slide Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="portfolio16.html">2 Column Grid with Slide</a></li>
                  <li><a class="dropdown-item" href="portfolio17.html">Card Grid with Slide</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Carousel Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="portfolio18.html">Fullpage Carousel</a></li>
                  <li><a class="dropdown-item" href="portfolio19.html">Fullpage + Autowidth Carousel</a></li>
                  <li><a class="dropdown-item" href="portfolio20.html">Filtered Carousel</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="dropdown-item" href="portfolio21.html">Videocase</a></li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Portfolio Posts</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="portfolio-post.html">Post with Story</a></li>
                  <li><a class="dropdown-item" href="portfolio-post2.html">Post with Multiplte Images</a></li>
                  <li><a class="dropdown-item" href="portfolio-post3.html">Post with Image Grid</a></li>
                  <li><a class="dropdown-item" href="portfolio-post4.html">Post with Carousel</a></li>
                  <li><a class="dropdown-item" href="portfolio-post5.html">Post with Thumbnail Slider</a></li>
                  <li><a class="dropdown-item" href="portfolio-post6.html">Post with Simple Slider</a></li>
                  <li><a class="dropdown-item" href="portfolio-post7.html">Post with Masonry Gallery</a></li>
                  <li><a class="dropdown-item" href="portfolio-post8.html">Post with Justified Gallery</a></li>
                  <li><a class="dropdown-item" href="portfolio-post9.html">Post with Comparison Slider</a></li>
                  <li><a class="dropdown-item" href="portfolio-post10.html">Post with Video</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Blog</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Newspaper Grid View</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="blog.html">Newspaper Grid No Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog2.html">Newspaper Grid with Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog3.html">Newspaper Grid with Left Sidebar</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Grid View</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="blog4.html">Grid View No Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog5.html">Grid View with Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog6.html">Grid View with Left Sidebar</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Masonry Grid View</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="blog7.html">Masonry Grid View No Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog8.html">Masonry Grid View with Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog9.html">Masonry Grid View with Left Sidebar</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Image Grid View</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="blog10.html">Image Grid View No Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog11.html">Image Grid View with Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog12.html">Image Grid View with Left Sidebar</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">List View</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="blog13.html">List View No Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog14.html">List View with Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog15.html">List View with Left Sidebar</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Classic View</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="blog16.html">Classic View No Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog17.html">Classic View with Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog18.html">Classic View with Left Sidebar</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Blog Post</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="blog-post.html">Blog Post with Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog-post2.html">Blog Post with Left Sidebar</a></li>
                  <li><a class="dropdown-item" href="blog-post3.html">Blog Post No Sidebar</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Pages</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">About</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="about.html">About 1</a></li>
                  <li><a class="dropdown-item" href="about2.html">About 2</a></li>
                  <li><a class="dropdown-item" href="about3.html">About 3</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Services</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="services.html">Services 1</a></li>
                  <li><a class="dropdown-item" href="services2.html">Services 2</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Shop</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="shop.html">Shop with 4 Columns</a></li>
                  <li><a class="dropdown-item" href="shop2.html">Shop with 3 Columns</a></li>
                  <li><a class="dropdown-item" href="shop3.html">Shop with Sidbear</a></li>
                  <li><a class="dropdown-item" href="shop4.html">Shop with Left Sidbear</a></li>
                  <li><a class="dropdown-item" href="shop-product.html">Product Page</a></li>
                  <li><a class="dropdown-item" href="shop-cart.html">Shopping Cart</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="dropdown-item dropdown-toggle" href="#">Contact</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="contact.html">Contact 1</a></li>
                  <li><a class="dropdown-item" href="contact2.html">Contact 2</a></li>
                  <li><a class="dropdown-item" href="contact3.html">Contact 3</a></li>
                  <li><a class="dropdown-item" href="contact4.html">Contact 4</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="dropdown-item" href="page-loading.html">Page Loading</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Elements</a>
            <ul class="dropdown-menu mega-menu">
              <li class="mega-menu-content">
                <div class="row">
                  <div class="col-lg-3">
                    <ul class="icon-list">
                      <li><a href="accordion.html"><i class="fa fa-bars"></i>Accordion</a></li>
                      <li><a href="alerts.html"><i class="fa fa-exclamation-circle"></i>Alerts</a></li>
                      <li><a href="animated-text.html"><i class="fa fa-align-left"></i>Animated Text</a></li>
                      <li><a href="blockquote.html"><i class="fa fa-quote-left"></i>Blockquote</a></li>
                      <li><a href="buttons-badges.html"><i class="fa fa-tags"></i>Buttons & Badges</a></li>
                      <li><a href="carousel.html"><i class="fa fa-pencil-square-o"></i>Carousel</a></li>
                      <li><a href="clients.html"><i class="fa fa-user"></i>Clients</a></li>
                      <li><a href="countdown.html"><i class="fa fa-clock-o"></i>Countdown</a></li>
                      <li><a href="counter.html"><i class="fa fa-circle-o-notch"></i>Counter</a></li>
                    </ul>
                  </div>
                  <!--/column -->
                  <div class="col-lg-3">
                    <ul class="icon-list">
                      <li><a href="dividers.html"><i class="fa fa-minus"></i>Dividers</a></li>
                      <li><a href="dropcap.html"><i class="fa fa-adn"></i>Dropcap</a></li>
                      <li><a href="forms.html"><i class="fa fa-envelope"></i>Forms</a></li>
                      <li><a href="icon-solid.html"><i class="fa fa-heart"></i>Icons - Solid</a></li>
                      <li><a href="icon-line.html"><i class="fa fa-heart-o"></i>Icons - Line</a></li>
                      <li><a href="hover.html"><i class="fa fa-plus"></i>Image Hover</a></li>
                      <li><a href="lightbox.html"><i class="fa fa-expand"></i>Lightbox</a></li>
                      <li><a href="lists.html"><i class="fa fa-list"></i>Lists</a></li>
                      <li><a href="list-group.html"><i class="fa fa-list-alt"></i>List Group</a></li>
                    </ul>
                  </div>
                  <!--/column -->
                  <div class="col-lg-3">
                    <ul class="icon-list">
                      <li><a href="player.html"><i class="fa fa-youtube-play"></i>Media Player</a></li>
                      <li><a href="pagination.html"><i class="fa fa-ellipsis-h"></i>Pagination</a></li>
                      <li><a href="pricing.html"><i class="fa fa-dollar"></i>Pricing Tables</a></li>
                      <li><a href="process.html"><i class="fa fa-signal"></i>Process Steps</a></li>
                      <li><a href="progressbar.html"><i class="fa fa-bar-chart"></i>Progress Bar</a></li>
                      <li><a href="animations.html"><i class="fa fa-mouse-pointer"></i>Scroll Animations</a></li>
                      <li><a href="services-icon.html"><i class="fa fa-gear"></i>Services - Icon</a></li>
                      <li><a href="services-image.html"><i class="fa fa-image"></i>Services - Image</a></li>
                      <li><a href="feed-flickr.html"><i class="fa fa-flickr"></i>Social Feed - Flickr</a></li>
                    </ul>
                  </div>
                  <!--/column -->
                  <div class="col-lg-3">
                    <ul class="icon-list">
                      
                      <li><a href="social-icons.html"><i class="fa fa-share-alt"></i>Social Icons</a></li>
                      <li><a href="tables.html"><i class="fa fa-table"></i>Tables</a></li>
                      <li><a href="tabs.html"><i class="fa fa-window-restore"></i>Tabs</a></li>
                      <li><a href="team.html"><i class="fa fa-users"></i>Team</a></li>
                      <li><a href="testimonials.html"><i class="fa fa-comments"></i>Testimonials</a></li>
                      <li><a href="tooltip-popover.html"><i class="fa fa-external-link-square"></i>Tooltip & Popover</a></li>
                      <li><a href="typography.html"><i class="fa fa-font"></i>Typography</a></li>
                      <li><a href="wrappers.html"><i class="fa fa-code"></i>Wrappers</a></li>
                    </ul>
                  </div>
                  <!--/column --> 
                </div>
                <!--/.row --> 
              </li>
              <!--/.mega-menu-content-->
            </ul>
            <!--/.dropdown-menu --> 
          </li>
        </ul>
        <!-- /.navbar-nav -->
        <div class="navbar-divider"></div>
        <ul class="social social-mute social-s">
          <li><a href="#"><i class="fa fa-flickr"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container --> 
  </nav>
  <!-- /.navbar -->
  <div class="rev_slider_wrapper">
    <div id="slider-carousel" class="rev_slider" data-version="5.4.8">
      <ul>
        <li data-transition="fade" data-thumb="style/images/art/po1.jpg"><img src="style/images/art/po1.jpg" alt="" /></li>
        <li data-transition="fade" data-thumb="style/images/art/po3.jpg"><img src="style/images/art/po3.jpg" alt="" /></li>
        <li data-transition="fade" data-thumb="style/images/art/po5.jpg"><img src="style/images/art/po5.jpg" alt="" /></li>
        <li data-transition="fade" data-thumb="style/images/art/po6.jpg"><img src="style/images/art/po6.jpg" alt="" /></li>
        <li data-transition="fade" data-thumb="style/images/art/po7.jpg"><img src="style/images/art/po7.jpg" alt="" /></li>
        <li data-transition="fade" data-thumb="style/images/art/po8.jpg"><img src="style/images/art/po8.jpg" alt="" /></li>
        <li data-transition="fade" data-thumb="style/images/art/po9.jpg"><img src="style/images/art/po9.jpg" alt="" /></li>
        <li data-transition="fade" data-thumb="style/images/art/po10.jpg"><img src="style/images/art/po10.jpg" alt="" /></li>
        <li data-transition="fade" data-thumb="style/images/art/po11.jpg"><img src="style/images/art/po11.jpg" alt="" /></li>
      </ul>
      <div class="tp-static-layers">
          <div class="tp-caption tp-static-layer tp-shape tp-shapewrapper tp-resizeme" 
				data-x="['center','center','center','center']"  
				data-y="['middle','middle','middle','middle']"  
				data-width="full"
				data-height="full"
				data-whitespace="nowrap"
				data-type="shape" 
				data-basealign="slide" 
				data-responsive_offset="on" 
				data-frames='[{"delay":10,"speed":600,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":600,"frame":"999","to":"opacity:0;","ease":"Power4.easeOut"}]'
				data-startslide="0" 
				data-endslide="8"
				data-textAlign="['inherit','inherit','inherit','inherit']"
				data-lasttriggerstate="reset"
				style="z-index: 5;background-color:rgba(21,21,21, 0.5);"> </div>
          <div class="tp-caption tp-static-layer font-weight-700 text-uppercase" 
				data-x="['center','center','center','center']"  
				data-y="['middle','middle','middle','middle']"  
				data-fontsize="['130','100','70','35']"
data-lineheight="['140','110','80','45']"
				data-whitespace="nowrap"
				data-type="text" 
				data-basealign="slide" 
				data-responsive_offset="on" 
				data-frames='[{"delay":0,"speed":1000,"frame":"0","from":"opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:20px;","ease":"Power4.easeOut"}]'
				data-startslide="0" 
				data-endslide="8"
				data-textAlign="['center','center','center','center']"
				data-lasttriggerstate="reset"
				style="z-index: 6; color: rgba(255,255,255,0.6);">Julia Brailie<br />
            Photography</div>
      </div>
    </div>
    <!-- /.rev_slider --> 
  </div>
  <!-- /.rev_slider_wrapper -->
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <h2 class="section-title section-title-upper text-center">My Specialties</h2>
      <p class="lead larger text-center">Hello! I'm Julia Brailie, a fashion, people & portrait photographer. I am very passionate about<br class="d-none d-xl-block" />
        photography and it becomes quite obvious in the way I create portraits.</p>
      <div class="space30"></div>
      <div class="tiles">
        <div class="items row">
          <div class="item col-md-4">
            <figure class="overlay-info bordered"><img src="style/images/art/f10.jpg" alt="" />
              <figcaption class="d-flex">
                <div class="align-self-center mx-auto">
                  <h4 class="text-uppercase mb-0">Fashion<br />
                    Photography</h4>
                </div>
              </figcaption>
            </figure>
          </div>
          <!--/.item -->
          <div class="item col-md-4">
            <figure class="overlay-info bordered"><img src="style/images/art/f11.jpg" alt="" />
              <figcaption class="d-flex">
                <div class="align-self-center mx-auto">
                  <h4 class="text-uppercase mb-0">Portrait<br />
                    Photography</h4>
                </div>
              </figcaption>
            </figure>
          </div>
          <!--/.item -->
          <div class="item col-md-4">
            <figure class="overlay-info bordered"><img src="style/images/art/f12.jpg" alt="" />
              <figcaption class="d-flex">
                <div class="align-self-center mx-auto">
                  <h4 class="text-uppercase mb-0">Commercial<br />
                    Photography</h4>
                </div>
              </figcaption>
            </figure>
          </div>
          <!--/.item --> 
        </div>
        <!--/.row --> 
      </div>
      <!-- /.tiles --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.wrapper -->
  <div class="wrapper gray-wrapper">
    <div class="container inner">
      <h2 class="section-title section-title-upper text-center">My Selected Shots</h2>
      <p class="lead larger text-center">Here you will be able to find my featured shots</p>
      <div class="space20"></div>
      <div class="collage-wrapper">
        <div id="collage-large" class="collage effect-parent light-gallery">
          <div class="collage-image-wrapper">
            <div class="overlay overlay2"><a href="style/images/art/j21-full.jpg" data-sub-html="#caption1"><img src="style/images/art/j21.jpg" style="width:678px; height:450px;" alt="" /></a>
              <div id="caption1" class="d-none">
                <p>Maecenas faucibus mollis interdum.</p>
              </div>
            </div>
          </div>
          <!-- /.collage-image-wrapper -->
          <div class="collage-image-wrapper">
            <div class="overlay overlay2"><a href="style/images/art/j22-full.jpg" data-sub-html="#caption2"><img src="style/images/art/j22.jpg" style="width:299px; height:450px;" alt="" /></a>
              <div id="caption2" class="d-none">
                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
              </div>
            </div>
          </div>
          <!-- /.collage-image-wrapper -->
          <div class="collage-image-wrapper">
            <div class="overlay overlay2"><a href="style/images/art/j23-full.jpg"><img src="style/images/art/j23.jpg" style="width:674px; height:450px;" alt="" /></a> </div>
          </div>
          <!-- /.collage-image-wrapper -->
          <div class="collage-image-wrapper">
            <div class="overlay overlay2"><a href="style/images/art/j24-full.jpg" data-sub-html="#caption4"><img src="style/images/art/j24.jpg" style="width:358px; height:450px;" alt="" /></a>
              <div id="caption4" class="d-none">
                <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
              </div>
            </div>
          </div>
          <!-- /.collage-image-wrapper -->
          <div class="collage-image-wrapper">
            <div class="overlay overlay2"><a href="style/images/art/j25-full.jpg" data-sub-html="#caption5"><img src="style/images/art/j25.jpg" style="width:675px; height:450px;" alt="" /></a>
              <div id="caption5" class="d-none">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor.</p>
              </div>
            </div>
          </div>
          <!-- /.collage-image-wrapper -->
          <div class="collage-image-wrapper">
            <div class="overlay overlay2"><a href="style/images/art/j26-full.jpg"><img src="style/images/art/j26.jpg" style="width:527px; height:450px;" alt="" /></a> </div>
          </div>
          <!-- /.collage-image-wrapper -->
          <div class="collage-image-wrapper">
            <div class="overlay overlay2"><a href="style/images/art/j27-full.jpg" data-sub-html="#caption7"><img src="style/images/art/j27.jpg" style="width:360px; height:450px;" alt="" /></a>
              <div id="caption7" class="d-none">
                <p>Curabitur blandit tempus porttitor.</p>
              </div>
            </div>
          </div>
          <!-- /.collage-image-wrapper -->
          <div class="collage-image-wrapper">
            <div class="overlay overlay2"><a href="style/images/art/j28-full.jpg" data-sub-html="#caption8"><img src="style/images/art/j28.jpg" style="width:675px; height:450px;" alt="" /></a>
              <div id="caption8" class="d-none">
                <p>Maecenas faucibus mollis interdum.</p>
              </div>
            </div>
          </div>
          <!-- /.collage-image-wrapper -->
          <div class="collage-image-wrapper">
            <div class="overlay overlay2"><a href="style/images/art/j29-full.jpg"><img src="style/images/art/j29.jpg" style="width:676px; height:450px;" alt="" /></a> </div>
          </div>
          <!-- /.collage-image-wrapper -->
          <div class="collage-image-wrapper">
            <div class="overlay overlay2"><a href="style/images/art/j30-full.jpg" data-sub-html="#caption10"><img src="style/images/art/j30.jpg" style="width:657px; height:450px;" alt="" /></a>
              <div id="caption10" class="d-none">
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
              </div>
            </div>
          </div>
          <!-- /.collage-image-wrapper -->
          <div class="collage-image-wrapper">
            <div class="overlay overlay2"><a href="style/images/art/j31-full.jpg" data-sub-html="#caption11"><img src="style/images/art/j31.jpg" style="width:300px; height:450px;" alt="" /></a>
              <div id="caption11" class="d-none">
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>
          </div>
          <!-- /.collage-image-wrapper -->
          <div class="collage-image-wrapper">
            <div class="overlay overlay2"><a href="style/images/art/j32-full.jpg"><img src="style/images/art/j32.jpg" style="width:675px; height:450px;" alt="" /></a> </div>
          </div>
          <!-- /.collage-image-wrapper --> 
        </div>
        <!-- /.collage --> 
      </div>
      <!-- /.collage-wrapper --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.wrapper -->
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <h2 class="sub-heading text-center">Let's make something great together.</h2>
      <div class="space10"></div>
      <div class="text-center"><a href="#" class="btn fixed-width btn-full-rounded mb-0">View All Works</a><div class="space10 d-md-none"></div><a href="#" class="btn fixed-width btn-green btn-full-rounded mb-0">Get in Touch</a> </div>
      <!-- /.text-center --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.wrapper -->
  <footer class="dark-wrapper inverse-text">
    <div class="sub-footer">
      <div class="container inner text-center"> <img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" />
        <div class="space25"></div>
        <p>© 2018 Brailie. All rights reserved. Theme by elemis.</p>
        <div class="space30"></div>
        <ul class="social social-bg social-s">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.sub-footer --> 
  </footer>
</div>
<!-- /.content-wrapper --> 
<script src="style/js/jquery.min.js"></script> 
<script src="style/js/popper.min.js"></script> 
<script src="style/js/bootstrap.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.tools.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script src="style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script> 
<script src="style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="style/js/plugins.js"></script> 
<script src="style/js/scripts.js"></script>
</body>
</html>