<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>Brailie</title>
<link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/css/plugins.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/navigation.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/typewriter/css/typewriter.css">
<link rel="stylesheet" type="text/css" href="style/type/icons.css">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="style/css/color/blue.css">
<link href='https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="content-wrapper">
  <nav class="navbar transparent absolute nav-wrapper-dark inverse-text navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-header d-flex justify-content-between align-items-center w-100">
        <div class="navbar-brand"><a href="index.html"><img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" /></a></div>
        <div class="navbar-hamburger"><button class="hamburger" data-toggle="modal" data-target="#overlay-nav"><span></span></button></div>
      </div>
      <!-- /.navbar-header --> 
    </div>
    <!-- /.container-fluid --> 
  </nav>
  <!-- /.navbar -->
  <div class="modal inverse-text modal-transparent faded" id="overlay-nav" tabindex="-1" role="dialog"><a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"></a>
    <div class="modal-dialog modal-lg h-100 mt-0 mb-0" role="document">
      <div class="modal-content h-100 text-center">
        <div class="h-100 d-flex flex-column justify-content-center">
          <ul class="overlay-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="blog.html">Journal</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
          <ul class="social social-mute social-m">
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>       
      </div>
    </div>
  </div>
  <!--/.modal -->
  <div class="rev_slider_wrapper fullscreen-container">
    <div id="slider" class="rev_slider fullscreenbanner bg-dark" data-version="5.4.8">
      <ul>
        <li data-transition="fade" data-thumb="style/images/art/slider-bg5.jpg"><img src="style/images/art/slider-bg5.jpg" alt="" />
          <div class="tp-caption font-weight-500 text-uppercase color-white text-center" 
	        data-x="center"
			data-y="middle" 
			data-voffset="['-75','-75','-75','-75']"
			data-fontsize="['16','16','16','16']"
			data-lineheight="['26','26','26','26']"
			data-width="['600','600','600','600']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' 
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: 3px;">Brailie Photography</div>
          <div class="tp-caption font-weight-700 color-white text-center" 
	        data-x="center" 
			data-y="middle" 
			data-voffset="['0','0','0','0']"
			data-fontsize="['55','55','45','35']"
			data-lineheight="['65','65','55','45']"
			data-width="['900','900','700','700']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: -0.5px;">Beautiful Gardens</div>
          <a class="tp-caption btn btn-full-rounded btn-l btn-white" 
			data-x="center" 
			data-y="middle" 
			data-voffset="['100','100','100','100']"
			data-width="['auto','auto','auto','auto']"
			data-textAlign="['center','center','center','center']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9;" href="#">View Images</a> </li>
        <li data-transition="fade" data-thumb="style/images/art/slider-bg6.jpg"><img src="style/images/art/slider-bg6.jpg" alt="" />
          <div class="tp-caption font-weight-500 text-uppercase color-white text-center" 
	        data-x="center"
			data-y="middle" 
			data-voffset="['-75','-75','-75','-75']"
			data-fontsize="['16','16','16','16']"
			data-lineheight="['26','26','26','26']"
			data-width="['600','600','600','600']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' 
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: 3px;">Brailie Photography</div>
          <div class="tp-caption font-weight-700 color-white text-center" 
	        data-x="center" 
			data-y="middle" 
			data-voffset="['0','0','0','0']"
			data-fontsize="['55','55','45','35']"
			data-lineheight="['65','65','55','45']"
			data-width="['900','900','700','700']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: -0.5px;">Macro Shots</div>
          <a class="tp-caption btn btn-full-rounded btn-l btn-white" 
			data-x="center" 
			data-y="middle" 
			data-voffset="['100','100','100','100']"
			data-width="['auto','auto','auto','auto']"
			data-textAlign="['center','center','center','center']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9;" href="#">View Images</a> </li>
        <li data-transition="fade" data-thumb="style/images/art/slider-bg7.jpg"><img src="style/images/art/slider-bg7.jpg" alt="" />
          <div class="tp-caption font-weight-500 text-uppercase color-white text-center" 
	        data-x="center"
			data-y="middle" 
			data-voffset="['-75','-75','-75','-75']"
			data-fontsize="['16','16','16','16']"
			data-lineheight="['26','26','26','26']"
			data-width="['600','600','600','600']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' 
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: 3px;">Brailie Photography</div>
          <div class="tp-caption font-weight-700 color-white text-center" 
	        data-x="center" 
			data-y="middle" 
			data-voffset="['0','0','0','0']"
			data-fontsize="['55','55','45','35']"
			data-lineheight="['65','65','55','45']"
			data-width="['900','900','700','700']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: -0.5px;">Stunning Perspectives</div>
          <a class="tp-caption btn btn-full-rounded btn-l btn-white" 
			data-x="center" 
			data-y="middle" 
			data-voffset="['100','100','100','100']"
			data-width="['auto','auto','auto','auto']"
			data-textAlign="['center','center','center','center']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9;" href="#">View Images</a> </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider --> 
  </div>
  <!-- /.rev_slider_wrapper -->
  <div class="wrapper gray-wrapper">
    <div class="container inner">
      <h2 class="section-title mb-40 text-center">Who is Behind All This?</h2>
      <div class="row">
        <div class="col-lg-6 text-md-center">
          <figure><img src="style/images/art/about3.jpg" alt=""></figure>
        </div>
        <!-- /column -->
        <div class="space30 d-block d-lg-none d-xl-none"></div>
        <div class="col-lg-6">
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Vestibulum id ligula.</p>
          <blockquote class="bordered">
            <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula lacinia odio sem nec elit.</p>
            <footer class="blockquote-footer">Connor Gibson</footer>
          </blockquote>
          <p>Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies.</p>
          <ul class="social social-color social-s mb-15">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
          </ul>
        </div>
        <!-- /column --> 
      </div>
      <!-- /.row -->
      <div class="space70"></div>
      <div class="row">
        <div class="col-md-4">
          <h4>What is Our Process?</h4>
          <p>Duis mollis, est non commodo luctus, nisi porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem.</p>
          <ol>
            <li>Vivamus sagittis lacus vel augue laoreet.</li>
            <li>Cras mattis consectetur purus sit amet.</li>
            <li>Vestibulum id ligula porta felis euismod.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
          </ol>
        </div>
        <!-- /column -->
        <div class="col-md-4">
          <h4>Why Choose Us?</h4>
          <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus.</p>
          <ul class="unordered-list list-default">
            <li>Donec ullamcorper nulla non metus auctor.</li>
            <li>Cras justo odio, dapibus ac facilisis.</li>
            <li>Praesent commodo cursus magna.</li>
            <li>Curabitur blandit tempus porttitor.</li>
          </ul>
        </div>
        <!-- /column -->
        <div class="col-md-4">
          <h4>Our Skills</h4>
          <ul class="progress-list">
            <li>
              <p>Photoshop</p>
              <div class="progressbar line blue" data-value="90"></div>
            </li>
            <li>
              <p>Final Cut</p>
              <div class="progressbar line green" data-value="80"></div>
            </li>
            <li>
              <p>Studio Photography</p>
              <div class="progressbar line orange" data-value="85"></div>
            </li>
            <li>
              <p>Motion Video</p>
              <div class="progressbar line red" data-value="65"></div>
            </li>
          </ul>
          <!-- /.progress-list --> 
        </div>
        <!-- /column --> 
      </div>
      <!-- /.row -->
      <div class="space10"></div>
      <div class="text-center"><a href="#" class="btn btn-full-rounded">Hire Us</a></div>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.wrapper -->
  <footer class="dark-wrapper inverse-text">
    <div class="sub-footer">
      <div class="container inner text-center"> <img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" />
        <div class="space25"></div>
        <p>© 2018 Brailie. All rights reserved. Theme by elemis.</p>
        <div class="space30"></div>
        <ul class="social social-bg social-s">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.sub-footer --> 
  </footer>
</div>
<!-- /.content-wrapper --> 
<script src="style/js/jquery.min.js"></script> 
<script src="style/js/popper.min.js"></script> 
<script src="style/js/bootstrap.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.tools.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script src="style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script> 
<script src="style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="style/js/plugins.js"></script> 
<script src="style/js/scripts.js"></script>
</body>
</html>