<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>Brailie</title>
<link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/css/plugins.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/navigation.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/typewriter/css/typewriter.css">
<link rel="stylesheet" type="text/css" href="style/type/icons.css">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="style/css/color/blue.css">
<link rel="stylesheet" type="text/css" href="style/css/font/font3.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700%7CRoboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
</head>
<body>
<div class="content-wrapper">
  <nav class="navbar solid nav-wrapper-light text-uppercase navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-header d-flex justify-content-between align-items-center w-100">
        <div class="navbar-brand"><a href="index.html"><img src="#" srcset="style/images/logo.png 1x, style/images/logo@2x.png 2x" alt="" /></a></div>
        <div class="navbar-hamburger"><button class="hamburger" data-toggle="modal" data-target="#overlay-nav"><span></span></button></div>
      </div>
      <!-- /.navbar-header --> 
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- /.navbar -->
  <div class="modal inverse-text modal-transparent faded" id="overlay-nav" tabindex="-1" role="dialog"><a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"></a>
    <div class="modal-dialog modal-lg h-100 mt-0 mb-0" role="document">
      <div class="modal-content h-100 text-center">
        <div class="h-100 d-flex flex-column justify-content-center">
          <ul class="overlay-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="blog.html">Journal</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
          <ul class="social social-mute social-m">
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>       
      </div>
    </div>
  </div>
  <!--/.modal -->
  <div class="wrapper gray-wrapper">
    <div class="image-block-wrapper arrowed">
      <div class="image-block col-md-6">
        <div class="image-block-bg bg-image" data-image-src="style/images/art/about17.jpg"></div>
      </div>
      <!--/.image-block -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <div class="box">
              <h1 class="heading">I'm Jonathan Davis,<br />
                Freelance Photographer</h1>
              <div class="space10"></div>
              <p class="lead larger">Based in London, I specialize in conceptual and still life photography. I take photographs with creativity, concept and passion.</p>
              <div class="space20"></div>
              <ul class="social social-mute social-m">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
              <div class="space20"></div>
            </div>
            <!--/.box --> 
          </div>
          <!--/column --> 
        </div>
        <!--/.row --> 
      </div>
      <!--/.container-fluid --> 
    </div>
    <!--/.image-block-wrapper --> 
  </div>
  <!-- /.wrapper -->
  <div class="wrapper light-wrapper">
    <div class="image-block-wrapper arrowed">
      <div class="image-block col-md-6 offset-md-6">
        <div class="image-block-bg bg-image" data-image-src="style/images/art/sg9.jpg"></div>
      </div>
      <!--/.image-block -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <h2 class="section-title larger">Winter Wonderland</h2>
              <p class="lead mb-30">Vestibulum ligula porta felis euismod semper. Duis mollis commodo luctus, ac commodo porttitor nibh.</p>
              <a href="#" class="btn btn-full-rounded" data-toggle="modal" data-target="#myModal1">See Gallery</a> </div>
          </div>
          <!--/column --> 
        </div>
        <!--/.row --> 
      </div>
      <!--/.container-fluid --> 
    </div>
    <!--/.image-block-wrapper --> 
  </div>
  <!-- /.wrapper -->
  <div class="wrapper gray-wrapper">
    <div class="image-block-wrapper arrowed">
      <div class="image-block col-md-6">
        <div class="image-block-bg bg-image" data-image-src="style/images/art/sg12.jpg"></div>
      </div>
      <!--/.image-block -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <div class="box">
              <h2 class="section-title larger">Surreal Shots</h2>
              <p class="lead mb-30">Vestibulum ligula porta felis euismod semper. Duis mollis commodo luctus, ac commodo porttitor nibh.</p>
              <a href="#" class="btn btn-full-rounded" data-toggle="modal" data-target="#myModal4">See Gallery</a> </div>
            <!--/.box --> 
          </div>
          <!--/column --> 
        </div>
        <!--/.row --> 
      </div>
      <!--/.container-fluid --> 
    </div>
    <!--/.image-block-wrapper --> 
  </div>
  <!-- /.wrapper -->
  <div class="wrapper light-wrapper">
    <div class="image-block-wrapper arrowed">
      <div class="image-block col-md-6 offset-md-6">
        <div class="image-block-bg bg-image" data-image-src="style/images/art/sg16.jpg"></div>
      </div>
      <!--/.image-block -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <h2 class="section-title larger">Charismatic Doors</h2>
              <p class="lead mb-30">Vestibulum ligula porta felis euismod semper. Duis mollis commodo luctus, ac commodo porttitor nibh.</p>
              <a href="#" class="btn btn-full-rounded" data-toggle="modal" data-target="#myModal9">See Gallery</a> </div>
          </div>
          <!--/column --> 
        </div>
        <!--/.row --> 
      </div>
      <!--/.container-fluid --> 
    </div>
    <!--/.image-block-wrapper --> 
  </div>
  <!-- /.wrapper -->
  <div class="wrapper gray-wrapper">
    <div class="image-block-wrapper arrowed">
      <div class="image-block col-md-6">
        <div class="image-block-bg bg-image" data-image-src="style/images/art/about18.jpg"></div>
      </div>
      <!--/.image-block -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <div class="box">
              <h2 class="section-title larger">My Skills</h2>
              <p class="lead mb-30">Vestibulum ligula porta felis euismod semper. Duis mollis commodo luctus, ac commodo porttitor nibh.</p>
              <ul class="progress-list">
                <li>
                  <p>Photoshop</p>
                  <div class="progressbar line blue" data-value="90"></div>
                </li>
                <li>
                  <p>Final Cut</p>
                  <div class="progressbar line green" data-value="80"></div>
                </li>
                <li>
                  <p>Studio Photography</p>
                  <div class="progressbar line orange" data-value="85"></div>
                </li>
                <li>
                  <p>Motion Video</p>
                  <div class="progressbar line red" data-value="65"></div>
                </li>
              </ul>
              <!-- /.progress-list --> 
            </div>
            <!--/.box --> 
          </div>
          <!--/column --> 
        </div>
        <!--/.row --> 
      </div>
      <!--/.container-fluid --> 
    </div>
    <!--/.image-block-wrapper --> 
  </div>
  <!-- /.wrapper -->
  <div class="wrapper light-wrapper">
    <div class="image-block-wrapper arrowed">
      <div class="image-block col-md-6 offset-md-6">
        <div class="image-block-bg bg-image" data-image-src="style/images/art/about19.jpg"></div>
      </div>
      <!--/.image-block -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <h2 class="section-title larger">Get in Touch</h2>
              <p class="lead mb-30">Vestibulum ligula porta felis euismod semper. Duis mollis commodo luctus, ac commodo porttitor nibh.</p>
              <div class="form-container">
                <form action="contact/vanilla-form.php" method="post" class="vanilla vanilla-form" novalidate>
                  <div class="row">
                    <div class="col-md-6 pr-10">
                      <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Your name" required="required">
                      </div>
                      <!--/.form-group --> 
                    </div>
                    <!--/column -->
                    <div class="col-md-6 pl-10">
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Your e-mail" required="required">
                      </div>
                      <!--/.form-group --> 
                    </div>
                    <!--/column -->
                    <div class="col-12">
                      <textarea name="message" class="form-control" rows="3" placeholder="Type your message here..." required></textarea>
                      <div class="space20"></div>
                      <button type="submit" class="btn btn-full-rounded" data-error="Fix errors" data-processing="Sending..." data-success="Thank you!">Submit</button>
                      <footer class="notification-box"></footer>
                    </div>
                    <!--/column --> 
                  </div>
                  <!--/.row -->
                </form>
                <!--/.vanilla-form --> 
              </div>
              <!--/.form-container --> 
            </div>
          </div>
          <!--/column --> 
        </div>
        <!--/.row --> 
      </div>
      <!--/.container-fluid --> 
    </div>
    <!--/.image-block-wrapper --> 
  </div>
  <!-- /.wrapper -->
  <div class="modal inverse-text modal-transparent faded" id="myModal1" tabindex="-1" role="dialog"> <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"></a>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content text-center">
        <h2>Winter Wonderland</h2>
        <p>Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed.</p>
        <div class="space10"></div>
        <ul class="basic-gallery">
          <li><img src="style/images/art/tg2-1.jpg" alt=""></li>
          <li><img src="style/images/art/tg2-2.jpg" alt=""></li>
          <li><img src="style/images/art/tg2-3.jpg" alt=""></li>
          <li><img src="style/images/art/tg2-4.jpg" alt=""></li>
          <li><img src="style/images/art/tg2-5.jpg" alt=""></li>
          <li><img src="style/images/art/tg2-6.jpg" alt=""></li>
          <li><img src="style/images/art/tg2-7.jpg" alt=""></li>
          <li><img src="style/images/art/tg2-8.jpg" alt=""></li>
          <li><img src="style/images/art/tg2-9.jpg" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
  <!--/.modal -->
  <div class="modal inverse-text modal-transparent faded" id="myModal4" tabindex="-1" role="dialog"> <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"></a>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content text-center">
        <h2>Surreal Shots</h2>
        <p>Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed.</p>
        <div class="space10"></div>
        <ul class="basic-gallery">
          <li><img src="style/images/art/tg6-1.jpg" alt=""></li>
          <li><img src="style/images/art/tg6-2.jpg" alt=""></li>
          <li><img src="style/images/art/tg6-3.jpg" alt=""></li>
          <li><img src="style/images/art/tg6-4.jpg" alt=""></li>
          <li><img src="style/images/art/tg6-5.jpg" alt=""></li>
          <li><img src="style/images/art/tg6-6.jpg" alt=""></li>
          <li><img src="style/images/art/tg6-7.jpg" alt=""></li>
          <li><img src="style/images/art/tg6-8.jpg" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
  <!--/.modal -->
  <div class="modal inverse-text modal-transparent faded" id="myModal9" tabindex="-1" role="dialog"> <a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"></a>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content text-center">
        <h2>Charismatic Doors</h2>
        <p>Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed.</p>
        <div class="space10"></div>
        <ul class="basic-gallery">
          <li><img src="style/images/art/tg9-1.jpg" alt=""></li>
          <li><img src="style/images/art/tg9-2.jpg" alt=""></li>
          <li><img src="style/images/art/tg9-3.jpg" alt=""></li>
          <li><img src="style/images/art/tg9-4.jpg" alt=""></li>
          <li><img src="style/images/art/tg9-5.jpg" alt=""></li>
          <li><img src="style/images/art/tg9-6.jpg" alt=""></li>
          <li><img src="style/images/art/tg9-7.jpg" alt=""></li>
          <li><img src="style/images/art/tg9-8.jpg" alt=""></li>
        </ul>
      </div>
    </div>
  </div>
  <!--/.modal -->
  <footer>
    <div class="sub-footer dark-wrapper inverse-text">
      <div class="container inner pt-30 pb-30 d-md-flex align-items-md-center text-center">
        <div class="mr-auto">
          <p>© 2018 Brailie. All rights reserved. Theme by elemis.</p>
        </div>
        <!-- /div -->
        <div class="space20 d-md-none"></div>
        <div class="ml-auto text-md-right">
          <ul class="social social-bg social-s">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <!-- /div --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.sub-footer --> 
  </footer>
</div>
<!-- /.content-wrapper --> 
<script src="style/js/jquery.min.js"></script> 
<script src="style/js/popper.min.js"></script> 
<script src="style/js/bootstrap.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.tools.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script src="style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script> 
<script src="style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="style/js/plugins.js"></script> 
<script src="style/js/scripts.js"></script>
</body>
</html>