<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>Brailie</title>
<link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/css/plugins.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/navigation.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/typewriter/css/typewriter.css">
<link rel="stylesheet" type="text/css" href="style/type/icons.css">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="style/css/color/blue.css">
<link href='https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="content-wrapper">
  <div class="d-flex align-items-start flex-column h-100vh inverse-text text-center">
    <div class="mb-auto ml-auto mr-auto">
      <div class="container inner pt-50 pb-30">
        <div class="logo"> <a href="index.html"><img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" /></a> </div>
      </div>
    </div>
    <!-- /div -->
    <div class="ml-auto mr-auto">
      <div class="h-100 d-flex flex-column justify-content-center inverse-text p-90 p-sm-0 text-center">
        <h1 class="heading text-center">Our website is under construction</h1>
        <h2 class="sub-heading2">We'll be here soon with a new website.</h2>
        <div class="space10"></div>
        <div class="d-inline-block"><a href="mailto:first.last@email.com"  class="btn btn-rounded btn-white btn-icon btn-icon-left"><i class="fa fa-envelope"></i>Contact Us</a></div>
      </div>
    </div>
    <!-- /div -->
    <div class="mt-auto ml-auto mr-auto w-100">
      <div class="container inner pt-30 pb-40">
        <div class="row">
          <div class="col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
            <div class="newsletter-wrapper">
              <form action="https://elemisfreebies.us20.list-manage.com/subscribe/post?u=aa4947f70a475ce162057838d&amp;id=b49ef47a9a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll" class="form-group">
                  <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email Address" required>
                  <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-rounded btn-white mr-0 pull-right">Join</button>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_ddc180777a163e0f9f66ee014_056957de28" tabindex="-1" value="">
                  </div>
                  <div class="clearfix"></div>
                </div>
              </form>
            </div>
            <!-- /.newsletter-wrapper --> 
          </div>
          <!-- /column --> 
        </div>
        <!-- /.row -->
        <div class="space10"></div>
        <p>© 2018 Brailie. All rights reserved. Theme by elemis.</p>
        <ul class="social social-mute social-s">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <!-- /.social --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /div --> 
  </div>
  <!-- /div --> 
</div>
<!-- /.content-wrapper --> 
<script src="style/js/jquery.min.js"></script> 
<script src="style/js/popper.min.js"></script> 
<script src="style/js/bootstrap.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.tools.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script src="style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script> 
<script src="style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="style/js/plugins.js"></script> 
<script src="style/js/scripts.js"></script> 
<script>
	$.backstretch([
      "style/images/art/bg18.jpg"
    , "style/images/art/bg19.jpg"
  ], {duration: 5000, fade: 1000});
</script>
</body>
</html>