<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>Brailie</title>
<link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/css/plugins.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/navigation.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/typewriter/css/typewriter.css">
<link rel="stylesheet" type="text/css" href="style/type/icons.css">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="style/css/color/blue.css">
<link href='https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i' rel='stylesheet' type='text/css'>
</head>
<body class="onepage" data-spy="scroll" data-target=".navbar">
<div class="content-wrapper">
  <nav class="navbar transparent absolute nav-wrapper-dark inverse-text navbar-expand-lg">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand"><a href="index.html"><img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" /></a></div>
        <div class="navbar-hamburger ml-auto d-lg-none d-xl-none"><button class="hamburger animate" data-toggle="collapse" data-target=".navbar-collapse"><span></span></button></div> 
      </div>
      <!-- /.navbar-header -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link scroll" href="#home">Home</a></li>
          <li class="nav-item"><a class="nav-link scroll" href="#nature">Nature</a></li>
          <li class="nav-item"><a class="nav-link scroll" href="#macro">Macro</a></li>
          <li class="nav-item"><a class="nav-link scroll" href="#urban">Urban</a></li>
          <li class="nav-item"><a class="nav-link scroll" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link scroll" href="#contact">Contact</a></li>
        </ul>
        <!-- /.navbar-nav -->
        <div class="navbar-divider"></div>
        <ul class="social social-mute social-s">
          <li><a href="#"><i class="fa fa-flickr"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container --> 
  </nav>
  <!-- /.navbar -->
  <section id="home" class="pt-0 mt-0">
    <div class="dark-wrapper">
      <div class="rev_slider_wrapper fullscreen-container">
        <div id="slider" class="rev_slider fullscreenbanner bg-dark" data-version="5.4.8">
          <ul>
            <li data-transition="fade" data-thumb="style/images/art/slider-bg5.jpg"><img src="style/images/art/slider-bg5.jpg" alt="" />
              <div class="tp-caption font-weight-500 text-uppercase color-white text-center" 
	        data-x="center"
			data-y="middle" 
			data-voffset="['-75','-75','-75','-65']"
			data-fontsize="['16','16','16','16']"
			data-lineheight="['26','26','26','26']"
			data-width="['600','600','600','450']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' 
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: 3px;">Brailie Photography</div>
              <div class="tp-caption font-weight-700 color-white text-center" 
	        data-x="center" 
			data-y="middle" 
			data-voffset="['0','0','0','0']"
			data-fontsize="['55','55','45','30']"
			data-lineheight="['65','65','55','40']"
			data-width="['900','900','700','450']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: -0.5px;">Beautiful Gardens</div>
              <a class="tp-caption btn btn-full-rounded btn-l btn-white scroll" 
			data-x="center" 
			data-y="middle" 
			data-voffset="['100','100','100','90']"
			data-width="['auto','auto','auto','auto']"
			data-textAlign="['center','center','center','center']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9;" href="#nature">View Images</a> </li>
            <li data-transition="fade" data-thumb="style/images/art/slider-bg6.jpg"><img src="style/images/art/slider-bg6.jpg" alt="" />
              <div class="tp-caption font-weight-500 text-uppercase color-white text-center" 
	        data-x="center"
			data-y="middle" 
			data-voffset="['-75','-75','-75','-65']"
			data-fontsize="['16','16','16','16']"
			data-lineheight="['26','26','26','26']"
			data-width="['600','600','600','450']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' 
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: 3px;">Brailie Photography</div>
              <div class="tp-caption font-weight-700 color-white text-center" 
	        data-x="center" 
			data-y="middle" 
			data-voffset="['0','0','0','0']"
			data-fontsize="['55','55','45','30']"
			data-lineheight="['65','65','55','40']"
			data-width="['900','900','700','450']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: -0.5px;">Macro Shots</div>
              <a class="tp-caption btn btn-full-rounded btn-l btn-white scroll" 
			data-x="center" 
			data-y="middle" 
			data-voffset="['100','100','100','90']"
			data-width="['auto','auto','auto','auto']"
			data-textAlign="['center','center','center','center']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9;" href="#macro">View Images</a> </li>
            <li data-transition="fade" data-thumb="style/images/art/slider-bg7.jpg"><img src="style/images/art/slider-bg7.jpg" alt="" />
              <div class="tp-caption font-weight-500 text-uppercase color-white text-center" 
	        data-x="center"
			data-y="middle" 
			data-voffset="['-75','-75','-75','-65']"
			data-fontsize="['16','16','16','16']"
			data-lineheight="['26','26','26','26']"
			data-width="['600','600','600','450']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' 
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: 3px;">Brailie Photography</div>
              <div class="tp-caption font-weight-700 color-white text-center" 
	        data-x="center" 
			data-y="middle" 
			data-voffset="['0','0','0','0']"
			data-fontsize="['55','55','45','30']"
			data-lineheight="['65','65','55','40']"
			data-width="['900','900','700','450']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: -0.5px;">Stunning Perspectives</div>
              <a class="tp-caption btn btn-full-rounded btn-l btn-white scroll" 
			data-x="center" 
			data-y="middle" 
			data-voffset="['100','100','100','90']"
			data-width="['auto','auto','auto','auto']"
			data-textAlign="['center','center','center','center']"
			data-frames='[{"from":"y:-50px;sX:2;sY:2;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9;" href="#urban">View Images</a> </li>
          </ul>
          <div class="tp-bannertimer tp-bottom"></div>
        </div>
        <!-- /.rev_slider --> 
      </div>
      <!-- /.rev_slider_wrapper --></div>
  </section>
  <!-- /section -->
  <section id="nature">
    <div class="wrapper dark-wrapper inverse-text">
      <div class="inner">
        <h1 class="section-title mb-30 text-center">Beautiful Gardens</h1>
        <div class="swiper-container-wrapper swiper-auto light-gallery">
          <div class="swiper-container text-center">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="style/images/art/cn1.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cn1-full.jpg" data-sub-html=".caption1">
                    <div class="caption1 hidden">
                      <h5>Elit Fusce Ligula</h5>
                      <p>Purus Vulputate Sem Tellus Quam</p>
                    </div>
                    </a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cn2.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cn2-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cn3.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cn3-full.jpg" data-sub-html=".caption2">
                    <div class="caption2 hidden">
                      <h5>Elit Etiam Magna</h5>
                      <p>Euismod Dolor Pharetra Inceptos Ligula</p>
                    </div>
                    </a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cn4.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cn4-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cn5.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cn5-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cn6.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cn6-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cn7.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cn7-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cn8.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cn8-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide --> 
            </div>
            <!-- .swiper-wrapper --> 
          </div>
          <!-- .swiper-container -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <!-- .swiper-container-wrapper --> 
      </div>
      <!-- /.inner --> 
    </div>
    <!-- /.wrapper --> 
  </section>
  <!-- /section -->
  <section id="macro">
    <div class="wrapper dark-wrapper inverse-text">
      <div class="inner">
        <h1 class="section-title mb-30 text-center">Macro Shots</h1>
        <div class="swiper-container-wrapper swiper-auto light-gallery">
          <div class="swiper-container text-center">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="style/images/art/cm1.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cm1-full.jpg" data-sub-html=".caption1">
                    <div class="caption1 hidden">
                      <h5>Elit Fusce Ligula</h5>
                      <p>Purus Vulputate Sem Tellus Quam</p>
                    </div>
                    </a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cm2.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cm2-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cm3.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cm3-full.jpg" data-sub-html=".caption2">
                    <div class="caption2 hidden">
                      <h5>Elit Etiam Magna</h5>
                      <p>Euismod Dolor Pharetra Inceptos Ligula</p>
                    </div>
                    </a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cm4.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cm4-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cm5.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cm5-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cm6.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cm6-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cm7.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cm7-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cm8.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cm8-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide --> 
            </div>
            <!-- .swiper-wrapper --> 
          </div>
          <!-- .swiper-container -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <!-- .swiper-container-wrapper --> 
      </div>
      <!-- /.inner --> 
    </div>
    <!-- /.wrapper --> 
  </section>
  <!-- /section -->
  <section id="urban">
    <div class="wrapper dark-wrapper inverse-text">
      <div class="inner">
        <h1 class="section-title mb-30 text-center">Stunning Perspectives</h1>
        <div class="swiper-container-wrapper swiper-auto light-gallery">
          <div class="swiper-container text-center">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="style/images/art/cu1.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cu1-full.jpg" data-sub-html=".caption1">
                    <div class="caption1 hidden">
                      <h5>Elit Fusce Ligula</h5>
                      <p>Purus Vulputate Sem Tellus Quam</p>
                    </div>
                    </a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cu2.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cu2-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cu3.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cu3-full.jpg" data-sub-html=".caption2">
                    <div class="caption2 hidden">
                      <h5>Elit Etiam Magna</h5>
                      <p>Euismod Dolor Pharetra Inceptos Ligula</p>
                    </div>
                    </a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cu4.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cu4-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cu5.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cu5-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cu6.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cu6-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cu7.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cu7-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide -->
              <div class="swiper-slide"><img src="style/images/art/cu8.jpg" alt="" />
                <div class="link-wrapper">
                  <div class="link lightbox"><a href="style/images/art/cu8-full.jpg"></a></div>
                </div>
                <!-- .link-wrapper --> 
              </div>
              <!-- .swiper-slide --> 
            </div>
            <!-- .swiper-wrapper --> 
          </div>
          <!-- .swiper-container -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <!-- .swiper-container-wrapper --> 
      </div>
      <!-- /.inner --> 
    </div>
    <!-- /.wrapper --> 
  </section>
  <!-- /section -->
  <section id="about">
    <div class="wrapper dark-wrapper inverse-text">
      <div class="container inner">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h2 class="section-title mb-30 text-center">Who is Behind?</h2>
            <figure><img src="style/images/art/about4.jpg" alt=""></figure>
            <div class="space30"></div>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit, fusce dapibus, tellus ac.</p>
            <blockquote class="bordered">
              <p>Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula lacinia odio sem nec elit.</p>
              <footer class="blockquote-footer">Connor Gibson</footer>
            </blockquote>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <ul class="social social-mute social-s mb-15 text-center">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-flickr"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
            </ul>
          </div>
          <!-- /column --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper -->
  </section>
  <!-- /section -->
  <section id="contact">
    <div class="wrapper dark-wrapper inverse-text">
      <div class="container inner">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h2 class="section-title text-center">Get in Touch</h2>
            <p class="text-center">Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat.</p>
            <div class="space20"></div>
            <div class="row text-center">
              <div class="col-md-4"> <span class="icon icon-color color-white fs-48 mb-10"><i class="si-camping_map"></i></span>
                <p>Moon Street Light Avenue<br>
                  14/05 Jupiter, JP 80630</p>
              </div>
              <!--/column -->
              <div class="col-md-4"> <span class="icon icon-color color-white fs-48 mb-10"><i class="si-phone_phone-ringing"></i></span>
                <p>00 (123) 456 78 90<br>
                  00 (987) 654 32 10 </p>
              </div>
              <!--/column -->
              <div class="col-md-4"> <span class="icon icon-color color-white fs-48 mb-10"><i class="si-mail_mail-2"></i></span>
                <p><a class="nocolor" href="mailto:#">manager@email.com</a><br>
                  <a class="nocolor" href="mailto:#">asistant@email.com</a></p>
              </div>
              <!--/column --> 
            </div>
            <!--/.row -->
            <div class="space30"></div>
            <div class="form-container">
              <form action="contact/vanilla-form.php" method="post" class="vanilla vanilla-form" novalidate>
                <div class="row text-center">
                  <div class="col-md-6 pr-10">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" placeholder="Your name" required="required">
                    </div>
                    <!--/.form-group --> 
                  </div>
                  <!--/column -->
                  <div class="col-md-6 pl-10">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Your e-mail" required="required">
                    </div>
                    <!--/.form-group --> 
                  </div>
                  <!--/column -->
                  <div class="col-md-6 pr-10">
                    <div class="form-group">
                      <input type="tel" class="form-control" name="tel" placeholder="Phone">
                    </div>
                    <!--/.form-group --> 
                  </div>
                  <!--/column -->
                  <div class="col-md-6 pl-10">
                    <div class="form-group">
                      <input type="text" class="form-control" name="subject" placeholder="Subject">
                    </div>
                    <!--/.form-group --> 
                  </div>
                  <!--/column -->
                  <div class="col-12">
                    <textarea name="message" class="form-control" rows="3" placeholder="Type your message here..." required></textarea>
                    <div class="space20"></div>
                    <button type="submit" class="btn btn-full-rounded btn-white" data-error="Fix errors" data-processing="Sending..." data-success="Thank you!">Submit</button>
                    <footer class="notification-box"></footer>
                  </div>
                  <!--/column --> 
                </div>
                <!--/.row -->
              </form>
              <!--/.vanilla-form --> 
            </div>
            <!--/.form-container --> 
          </div>
          <!-- /column --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper --> 
  </section>
  <!-- /section -->
  <footer class="dark-wrapper inverse-text">
    <div class="sub-footer">
      <div class="container inner text-center"> <img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" />
        <div class="space25"></div>
        <p>© 2018 Brailie. All rights reserved. Theme by elemis.</p>
        <div class="space30"></div>
        <ul class="social social-bg social-s">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.sub-footer --> 
  </footer>
</div>
<!-- /.content-wrapper --> 
<script src="style/js/jquery.min.js"></script> 
<script src="style/js/popper.min.js"></script> 
<script src="style/js/bootstrap.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.tools.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script src="style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script> 
<script src="style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="style/js/plugins.js"></script> 
<script src="style/js/scripts.js"></script>
</body>
</html>