<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>Brailie</title>
<link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/css/plugins.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/navigation.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/typewriter/css/typewriter.css">
<link rel="stylesheet" type="text/css" href="style/type/icons.css">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="style/css/color/blue.css">
<link rel="stylesheet" type="text/css" href="style/css/font/font3.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700%7CRoboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
</head>
<body class="split-layout">
<div class="content-wrapper h-100">
  <div class="content-left"></div>
  <!-- /.content-left -->
  <div class="content-right wrapper light-wrapper text-center">
    <div class="inner h-100 d-flex flex-column justify-content-center">
      <h1 class="heading mb-30">Hello! I'm Josephine Brailie</h1>
      <h2 class="sub-heading2">I am a professional photographer by degree, and a mother of two by day (& night). I have an endless curiosity for healthy cooking. You can find my works on <a href="#" class="color-s-500px">500px</a> and <a href="#" class="color-s-instagram">Instagram</a>, my cooking tips and videos on <a href="#" class="color-s-youtube">YouTube</a>, and my tweets on <a href="#" class="color-s-twitter">Twitter</a>.</h2>
      <div class="space20"></div>
      <div><a href="#" class="btn btn-full-rounded btn-dark btn-icon-left"><i class="fa fa-paper-plane"></i>Contact Me</a></div>
    </div>
    <!-- /div --> 
  </div>
  <!-- /.content-right --> 
</div>
<!-- /.content-wrapper --> 
<script src="style/js/jquery.min.js"></script> 
<script src="style/js/popper.min.js"></script> 
<script src="style/js/bootstrap.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.tools.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script src="style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script> 
<script src="style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="style/js/plugins.js"></script> 
<script src="style/js/scripts.js"></script> 
<script>
	$(".content-left").backstretch([
     "style/images/art/slider-bg20.jpg"
    , "style/images/art/slider-bg22.jpg"
    , "style/images/art/slider-bg21.jpg"
    , "style/images/art/slider-bg23.jpg"
  ], {duration: 5000, fade: 1000});
</script>
</body>
</html>