<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>Brailie</title>
<link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/css/plugins.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/navigation.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/typewriter/css/typewriter.css">
<link rel="stylesheet" type="text/css" href="style/type/icons.css">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="style/css/color/oasis.css">
<link href='https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i' rel='stylesheet' type='text/css'>
</head>
<body class="onepage" data-spy="scroll" data-target=".navbar">
<div class="content-wrapper">
  <nav class="navbar transparent absolute nav-wrapper-dark inverse-text navbar-expand-lg text-uppercase">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand"><a href="index.html"><img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" /></a></div>
        <div class="navbar-hamburger ml-auto d-lg-none d-xl-none"><button class="hamburger animate" data-toggle="collapse" data-target=".navbar-collapse"><span></span></button></div> 
      </div>
      <!-- /.navbar-header -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link scroll" href="#home">Home</a></li>
          <li class="nav-item"><a class="nav-link scroll" href="#about">About</a></li>
          <li class="nav-item dropdown"><a class="nav-link scroll dropdown-toggle" href="#portfolio">Portfolio</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li class="nav-item"><a class="dropdown-item scroll" href="#portfolio">Portrait Portfolio</a></li>
              <li class="nav-item"><a class="dropdown-item scroll" href="#portfolio2">Advertorial Portfolio</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link scroll" href="#services">Services</a></li>
          <li class="nav-item"><a class="nav-link scroll" href="#contact">Contact</a></li>
        </ul>
        <!-- /.navbar-nav --> 
      </div>
      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container --> 
  </nav>
  <!-- /.navbar -->
  <section id="home" class="pt-0 mt-0">
    <div class="rev_slider_wrapper fullscreen-container">
      <div id="slider" class="rev_slider fullscreenbanner bg-dark" data-version="5.4.8">
        <ul>
          <li data-transition="fade" data-thumb="style/images/art/slider-bg34.jpg"><img src="style/images/art/slider-bg34.jpg" alt="" /></li>
          <li data-transition="fade" data-thumb="style/images/art/slider-bg35.jpg"><img src="style/images/art/slider-bg35.jpg" alt="" /></li>
        </ul>
        <div class="tp-static-layers">
          <div class="tp-caption tp-static-layer font-weight-500 text-uppercase color-white text-center" 
	        data-x="center"
			data-y="middle" 
			data-voffset="['-110','-110','-110','-110']"
			data-fontsize="['16','16','16','16']"
			data-lineheight="['26','26','26','26']"
			data-width="['600','600','600','600']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: 3px;">I'm julia Brailie</div>
          <div class="tp-caption tp-static-layer font-weight-700 text-lowercase color-white text-center" 
	        data-x="center" 
			data-y="middle" 
			data-voffset="['-5','-5','-5','-5']"
			data-fontsize="['55','55','45','45']"
			data-lineheight="['70','70','60','60']"
			data-width="['900','900','700','700']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: -0.5px;">People and Portrait Phohographer</div>
          <a class="tp-caption tp-static-layer btn btn-full-rounded btn-l btn-white scroll" 
			data-x="center" 
			data-y="middle" 
			data-voffset="['130','130','130','130']"
			data-width="['auto','auto','auto','auto']"
			data-textAlign="['center','center','center','center']"
			data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9;" href="#portfolio">See My Portfolio</a> </div>
        <div class="tp-bannertimer tp-bottom"></div>
      </div>
      <!-- /.rev_slider --> 
    </div>
    <!-- /.rev_slider_wrapper --> 
  </section>
  <!-- /section -->
  <section id="about">
    <div class="wrapper dark-wrapper inverse-text">
      <div class="container inner">
        <h2 class="section-title section-title-upper text-center">A Little About Me</h2>
        <div class="space20"></div>
        <div class="row">
          <div class="col-lg-5 text-md-center">
            <figure><img src="style/images/art/about13.jpg" alt="" /></figure>
          </div>
          <!-- /column -->
          <div class="space30 d-lg-none d-xl-none"></div>
          <div class="col-lg-7">
            <p class="lead larger">Hello! I'm Julia Brailie, a people & portrait photographer. I am very passionate about photography and it becomes quite obvious in the way I create portraits.</p>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus.</p>
            <ul class="social social-mute social-s">
              <li><a href="#"><i class="fa fa-flickr"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-500px"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
            </ul>
          </div>
          <!-- /column --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper -->
    <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="style/images/art/bg20.jpg">
      <div class="container inner pt-150 pb-150">
        <h2 class="heading text-center">I take photographs with<br class="d-none d-md-block" />
          creativity, concept & passion</h2>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper --> 
  </section>
  <!-- /section -->
  <section id="portfolio">
    <div class="wrapper dark-wrapper inverse-text">
      <div class="container inner">
        <h2 class="section-title section-title-upper text-center">Selected Works</h2>
        <div class="space20"></div>
        <div id="cube-grid-large-filter" class="cbp-filter-container text-center">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
          <div data-filter=".cat1" class="cbp-filter-item">Category 1</div>
          <div data-filter=".cat2" class="cbp-filter-item">Category 2</div>
          <div data-filter=".cat3" class="cbp-filter-item">Category 3</div>
          <div data-filter=".cat4" class="cbp-filter-item">Category 4</div>
          <div data-filter=".cat5" class="cbp-filter-item">Category 5</div>
        </div>
        <div class="clearfix"></div>
        <div class="space20"></div>
        <div id="cube-grid-large" class="cbp light-gallery">
          <div class="cbp-item cat1 cat5">
            <figure class="overlay overlay2"><a href="style/images/art/p16-full.jpg" data-sub-html="#caption1"><img src="style/images/art/p16.jpg" alt="" />
              <div id="caption1" class="d-none">
                <p>Cras mattis consectetur purus sit amet fermentum.</p>
              </div>
              </a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item cat2">
            <figure class="overlay overlay2"><a href="style/images/art/p17-full.jpg"><img src="style/images/art/p17.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item cat2 cat3">
            <figure class="overlay overlay2"><a href="style/images/art/p18-full.jpg" data-sub-html="#caption2"><img src="style/images/art/p18.jpg" alt="" />
              <div id="caption2" class="d-none">
                <p>Nulla vitae elit libero, a pharetra augue.</p>
              </div>
              </a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item cat1 cat5">
            <figure class="overlay overlay2"><a href="style/images/art/p19-full.jpg"><img src="style/images/art/p19.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item cat5 cat4">
            <figure class="overlay overlay2"><a href="style/images/art/p20-full.jpg"><img src="style/images/art/p20.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item cat2 cat3">
            <figure class="overlay overlay2"><a href="style/images/art/p21-full.jpg"><img src="style/images/art/p21.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item cat5">
            <figure class="overlay overlay2"><a href="style/images/art/p22-full.jpg"><img src="style/images/art/p22.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item cat1 cat5">
            <figure class="overlay overlay2"><a href="style/images/art/p23-full.jpg"><img src="style/images/art/p23.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item cat2 cat4">
            <figure class="overlay overlay2"><a href="style/images/art/p24-full.jpg"><img src="style/images/art/p24.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item cat1 cat2">
            <figure class="overlay overlay2"><a href="style/images/art/p25-full.jpg"><img src="style/images/art/p25.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item cat5 cat3">
            <figure class="overlay overlay2"><a href="style/images/art/p26-full.jpg"><img src="style/images/art/p26.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item cat5 cat2">
            <figure class="overlay overlay2"><a href="style/images/art/p27-full.jpg"><img src="style/images/art/p27.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item --> 
        </div>
        <!--/.cbp --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper --> 
  </section>
  <!-- /section -->
  <section id="portfolio2">
    <div class="wrapper dark-wrapper inverse-text">
      <div class="container inner">
        <h2 class="section-title section-title-upper text-center">Advertorial Shots</h2>
        <div class="space20"></div>
        <div class="swiper-container-wrapper image-grid swiper-col3-20" data-aos="fade">
          <div class="swiper-container text-center">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="style/images/art/po1.jpg" alt="" /></div>
              <div class="swiper-slide"><img src="style/images/art/po3.jpg" alt="" /></div>
              <div class="swiper-slide"><img src="style/images/art/po5.jpg" alt="" /></div>
              <div class="swiper-slide"><img src="style/images/art/po6.jpg" alt="" /></div>
              <div class="swiper-slide"><img src="style/images/art/po7.jpg" alt="" /></div>
              <div class="swiper-slide"><img src="style/images/art/po8.jpg" alt="" /></div>
              <div class="swiper-slide"><img src="style/images/art/po9.jpg" alt="" /></div>
              <div class="swiper-slide"><img src="style/images/art/po10.jpg" alt="" /></div>
              <div class="swiper-slide"><img src="style/images/art/po11.jpg" alt="" /></div>
            </div>
            <!-- .swiper-wrapper --> 
          </div>
          <!-- .swiper-container -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <!-- .swiper-container-wrapper --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper -->
    <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="style/images/art/bg21.jpg">
      <div class="container inner pt-120 pb-120">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="swiper-container-wrapper basic-slider">
              <div class="swiper-container text-center">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <blockquote class="icon icon-top larger">
                      <p>Consectetur adipiscing elit. Duis mollis, est non commodo luctus gestas eget quam integer. Curabitur blandit tempus rutrum faucibus.</p>
                      <footer class="blockquote-footer">Connor Gibson</footer>
                    </blockquote>
                  </div>
                  <!-- /.swiper-slide -->
                  <div class="swiper-slide">
                    <blockquote class="icon icon-top larger">
                      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio.</p>
                      <footer class="blockquote-footer">Coriss Ambady</footer>
                    </blockquote>
                  </div>
                  <!-- /.swiper-slide -->
                  <div class="swiper-slide">
                    <blockquote class="icon icon-top larger">
                      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis.</p>
                      <footer class="blockquote-footer">Barclay Widerski</footer>
                    </blockquote>
                  </div>
                  <!-- /.swiper-slide --> 
                </div>
                <!-- /.swiper-wrapper --> 
              </div>
              <!-- /.swiper-container -->
              <div class="swiper-pagination gap-small"></div>
            </div>
            <!-- .swiper-container-wrapper --> 
          </div>
          <!-- /column --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper --> 
  </section>
  <!-- /section -->
  <section id="services">
    <div class="wrapper dark-wrapper inverse-text">
      <div class="container inner">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <h2 class="section-title section-title-upper text-center">My Services</h2>
            <p class="text-center">Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat pellentesque ornare sem lacinia quam.</p>
            <div class="space40"></div>
            <div class="row d-flex align-items-center">
              <div class="col-md-6 order-md-2 text-center">
                <figure><img class="octagon" src="style/images/art/sh3.jpg" alt="" /></figure>
              </div>
              <!--/column -->
              <div class="space20 d-block d-sm-none"></div>
              <div class="col-md-6">
                <h3>People & Portrait Photography</h3>
                <p class="lead mb-0">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra. Integer posuere erat.</p>
              </div>
              <!--/column --> 
            </div>
            <!--/.row -->
            <div class="space20 d-none d-md-block"></div>
			<div class="space50 d-md-none"></div>
            <div class="row d-flex align-items-center">
              <div class="col-md-6 text-center">
                <figure><img class="octagon" src="style/images/art/sh4.jpg" alt="" /></figure>
              </div>
              <!--/column -->
              <div class="space20 d-block d-sm-none"></div>
              <div class="col-md-6">
                <h3>Advertorial Photography</h3>
                <p class="lead mb-0"> Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus.</p>
              </div>
              <!--/column --> 
            </div>
            <!--/.row -->
            <div class="space20 d-none d-md-block"></div>
			<div class="space50 d-md-none"></div>
            <div class="row d-flex align-items-center">
              <div class="col-md-6 order-md-2 text-center">
                <figure><img class="octagon" src="style/images/art/sh5.jpg" alt="" /></figure>
              </div>
              <!--/column -->
              <div class="space20 d-block d-sm-none"></div>
              <div class="col-md-6">
                <h3>Family Photography</h3>
                <p class="lead mb-0">Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus ac facilisis in, egestas eget quam.</p>
              </div>
              <!--/column --> 
            </div>
            <!--/.row --> 
          </div>
          <!-- /column --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper --> 
  </section>
  <!-- /section -->
  <section id="contact">
    <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="style/images/art/bg22.jpg">
      <div class="container inner pt-150 pb-150">
        <h2 class="heading text-center">Thank you for taking some time to visit my website.<br class="d-none d-xl-block" />
          Feel free to drop me a line.</h2>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper -->
    <div class="wrapper dark-wrapper inverse-text">
      <div class="container inner">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h2 class="section-title section-title-upper text-center">Get in Touch</h2>
            <p class="text-center">Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat.</p>
            <div class="space20"></div>
            <div class="row text-center">
              <div class="col-md-4"> <span class="icon icon-color color-white fs-48 mb-10"><i class="si-camping_map"></i></span>
                <p>Moon Street Light Avenue<br>
                  14/05 Jupiter, JP 80630</p>
              </div>
              <!--/column -->
              <div class="col-md-4"> <span class="icon icon-color color-white fs-48 mb-10"><i class="si-phone_phone-ringing"></i></span>
                <p>00 (123) 456 78 90<br>
                  00 (987) 654 32 10 </p>
              </div>
              <!--/column -->
              <div class="col-md-4"> <span class="icon icon-color color-white fs-48 mb-10"><i class="si-mail_mail-2"></i></span>
                <p><a class="nocolor" href="mailto:#">manager@email.com</a><br>
                  <a class="nocolor" href="mailto:#">asistant@email.com</a></p>
              </div>
              <!--/column --> 
            </div>
            <!--/.row -->
            <div class="space30"></div>
            <div class="form-container">
              <form action="contact/vanilla-form.php" method="post" class="vanilla vanilla-form" novalidate>
                <div class="row text-center">
                  <div class="col-md-6 pr-10">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" placeholder="Your name" required="required">
                    </div>
                    <!--/.form-group --> 
                  </div>
                  <!--/column -->
                  <div class="col-md-6 pl-10">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Your e-mail" required="required">
                    </div>
                    <!--/.form-group --> 
                  </div>
                  <!--/column -->
                  <div class="col-md-6 pr-10">
                    <div class="form-group">
                      <input type="tel" class="form-control" name="tel" placeholder="Phone">
                    </div>
                    <!--/.form-group --> 
                  </div>
                  <!--/column -->
                  <div class="col-md-6 pl-10">
                    <div class="form-group">
                      <input type="text" class="form-control" name="subject" placeholder="Subject">
                    </div>
                    <!--/.form-group --> 
                  </div>
                  <!--/column -->
                  <div class="col-12">
                    <textarea name="message" class="form-control" rows="3" placeholder="Type your message here..." required></textarea>
                    <div class="space20"></div>
                    <button type="submit" class="btn btn-full-rounded" data-error="Fix errors" data-processing="Sending..." data-success="Thank you!">Submit</button>
                    <footer class="notification-box"></footer>
                  </div>
                  <!--/column --> 
                </div>
                <!--/.row -->
              </form>
              <!--/.vanilla-form --> 
            </div>
            <!--/.form-container --> 
          </div>
          <!-- /column --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper --> 
  </section>
  <!-- /section -->
  <footer class="dark-wrapper inverse-text">
    <div class="sub-footer">
      <div class="container inner text-center"> <img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" />
        <div class="space25"></div>
        <p>© 2018 Brailie. All rights reserved. Theme by elemis.</p>
        <div class="space30"></div>
        <ul class="social social-bg social-s">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.sub-footer --> 
  </footer>
</div>
<!-- /.content-wrapper --> 
<script src="style/js/jquery.min.js"></script> 
<script src="style/js/popper.min.js"></script> 
<script src="style/js/bootstrap.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.tools.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script src="style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script> 
<script src="style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="style/js/plugins.js"></script> 
<script src="style/js/scripts.js"></script>
</body>
</html>