<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>Brailie</title>
<link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/css/plugins.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/navigation.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/typewriter/css/typewriter.css">
<link rel="stylesheet" type="text/css" href="style/type/icons.css">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="style/css/color/blue.css">
<link href='https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="content-wrapper">
  <nav class="navbar solid nav-wrapper-dark inverse-text navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-header d-flex justify-content-between align-items-center w-100">
        <div class="navbar-brand"><a href="index.html"><img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" /></a></div>
        <div class="navbar-hamburger"><button class="hamburger" data-toggle="modal" data-target="#overlay-nav"><span></span></button></div>
      </div>
      <!-- /.navbar-header --> 
    </div>
    <!-- /.container-fluid --> 
  </nav>
  <!-- /.navbar -->
  <div class="modal inverse-text modal-transparent faded" id="overlay-nav" tabindex="-1" role="dialog"><a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"></a>
    <div class="modal-dialog modal-lg h-100 mt-0 mb-0" role="document">
      <div class="modal-content h-100 text-center">
        <div class="h-100 d-flex flex-column justify-content-center">
          <ul class="overlay-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="blog.html">Journal</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
          <ul class="social social-mute social-m">
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>       
      </div>
    </div>
  </div>
  <!--/.modal -->
  <div class="wrapper dark-wrapper inverse-text">
    <div id="cube-grid-mosaic" class="cbp light-gallery">
      <div class="cbp-item cat1 cat5">
        <figure class="overlay overlay2"><a href="style/images/art/pm1-full.jpg" data-sub-html="#caption1"><img src="style/images/art/pm1.jpg" alt="" />
          <div id="caption1" class="d-none">
            <p>Cras mattis consectetur purus sit amet fermentum.</p>
          </div>
          </a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat2">
        <figure class="overlay overlay2"><a href="style/images/art/pm2-full.jpg"><img src="style/images/art/pm2.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat2 cat3">
        <figure class="overlay overlay2"><a href="style/images/art/pm3-full.jpg" data-sub-html="#caption2"><img src="style/images/art/pm3.jpg" alt="" />
          <div id="caption2" class="d-none">
            <p>Nulla vitae elit libero, a pharetra augue.</p>
          </div>
          </a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat1 cat5">
        <figure class="overlay overlay2"><a href="style/images/art/pm4-full.jpg"><img src="style/images/art/pm4.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat5 cat4">
        <figure class="overlay overlay2"><a href="style/images/art/pm5-full.jpg"><img src="style/images/art/pm5.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat2 cat3">
        <figure class="overlay overlay2"><a href="style/images/art/pm6-full.jpg"><img src="style/images/art/pm6.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat5">
        <figure class="overlay overlay2"><a href="style/images/art/pm7-full.jpg"><img src="style/images/art/pm7.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat1 cat5">
        <figure class="overlay overlay2"><a href="style/images/art/pm8-full.jpg"><img src="style/images/art/pm8.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat2 cat4">
        <figure class="overlay overlay2"><a href="style/images/art/pm9-full.jpg"><img src="style/images/art/pm9.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat1 cat2">
        <figure class="overlay overlay2"><a href="style/images/art/pm10-full.jpg"><img src="style/images/art/pm10.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat5 cat3">
        <figure class="overlay overlay2"><a href="style/images/art/pm11-full.jpg"><img src="style/images/art/pm11.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat5 cat2">
        <figure class="overlay overlay2"><a href="style/images/art/pm12-full.jpg"><img src="style/images/art/pm12.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat4 cat3">
        <figure class="overlay overlay2"><a href="style/images/art/pm13-full.jpg"><img src="style/images/art/pm13.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat1 cat2 cat5">
        <figure class="overlay overlay2"><a href="style/images/art/pm14-full.jpg"><img src="style/images/art/pm14.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat3 cat4">
        <figure class="overlay overlay2"><a href="style/images/art/pm15-full.jpg"><img src="style/images/art/pm15.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat1 cat5">
        <figure class="overlay overlay2"><a href="style/images/art/pm16-full.jpg"><img src="style/images/art/pm16.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat2 cat3 cat4">
        <figure class="overlay overlay2"><a href="style/images/art/pm17-full.jpg"><img src="style/images/art/pm17.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item cat1 cat4">
        <figure class="overlay overlay2"><a href="style/images/art/pm18-full.jpg"><img src="style/images/art/pm18.jpg" alt="" /></a></figure>
      </div>
      <!--/.cbp-item --> 
    </div>
    <!--/.cbp --> 
  </div>
  <!-- /.wrapper -->
  <footer class="dark-wrapper inverse-text">
    <div class="container inner pt-60 pb-60">
      <div class="row">
        <div class="col-md-12 col-lg-3 text-center text-lg-left">
          <div class="widget"> <img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" />
            <div class="space20"></div>
            <p>We are a photography studio specializing in wedding, jewelry, birthday and fashion photography.</p>
          </div>
          <!-- /.widget --> 
        </div>
        <!-- /column -->
        <div class="space30 d-lg-none d-xl-none"></div>
        <div class="col-md-4 col-lg-2 offset-lg-3">
          <div class="widget">
            <h5 class="widget-title">Learn More</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="nocolor">About Us</a></li>
              <li><a href="#" class="nocolor">Our Story</a></li>
              <li><a href="#" class="nocolor">Projects</a></li>
              <li><a href="#" class="nocolor">Features</a></li>
            </ul>
          </div>
          <!-- /.widget --> 
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-2">
          <div class="widget">
            <h5 class="widget-title">Social</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="nocolor">Facebook</a></li>
              <li><a href="#" class="nocolor">Twitter</a></li>
              <li><a href="#" class="nocolor">Instagram</a></li>
              <li><a href="#" class="nocolor">Flickr</a></li>
            </ul>
          </div>
          <!-- /.widget --> 
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-2">
          <div class="widget">
            <h5 class="widget-title">Contact</h5>
            <address class="mb-0">
            Moonshine St. 14/05 Light City
            </address>
            <a href="mailto:first.last@email.com" class="nocolor">first.last@email.com</a><br />
            +00 (123) 456 78 90 </div>
          <!-- /.widget --> 
        </div>
        <!-- /column --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.container -->
    <div class="sub-footer dark-wrapper inverse-text">
      <div class="container inner pt-30 pb-30">
        <p>© 2018 Brailie. All rights reserved. Theme by elemis.</p>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.sub-footer --> 
  </footer>
</div>
<!-- /.content-wrapper --> 
<script src="style/js/jquery.min.js"></script> 
<script src="style/js/popper.min.js"></script> 
<script src="style/js/bootstrap.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.tools.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script src="style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script> 
<script src="style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="style/js/plugins.js"></script> 
<script src="style/js/scripts.js"></script>
</body>
</html>