<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>Brailie</title>
<link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/css/plugins.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/navigation.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/typewriter/css/typewriter.css">
<link rel="stylesheet" type="text/css" href="style/type/icons.css">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="style/css/color/oasis.css">
<link rel="stylesheet" type="text/css" href="style/css/font/font3.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700%7CRoboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
</head>
<body class="split-layout">
<div class="content-wrapper h-100">
  <div class="content-left bg-image" data-image-src="style/images/art/about10.jpg"> </div>
  <!-- /.content-left -->
  <div class="content-right wrapper">
    <div class="wrapper light-wrapper">
      <div class="inner pt-30 pb-30">
        <div class="content-header d-flex justify-content-between align-items-center w-100">
          <div class="logo"><a href="index.html"><img src="#" srcset="style/images/logo.png 1x, style/images/logo@2x.png 2x" alt="" /></a></div>
          <button class="hamburger" data-toggle="modal" data-target="#overlay-nav"><span></span></button>
          <div class="modal inverse-text modal-transparent faded" id="overlay-nav" tabindex="-1" role="dialog"><a href="#" class="modal-close" data-dismiss="modal" aria-label="Close"></a>
            <div class="modal-dialog modal-lg h-100 mt-0 mb-0" role="document">
              <div class="modal-content h-100 text-center">
                <div class="h-100 d-flex flex-column justify-content-center">
                  <ul class="overlay-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="blog.html">Journal</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                  <ul class="social social-mute social-m">
                    <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--/.modal --> 
        </div>
        <!-- /.content-header -->
        <div class="space70"></div>
        <h2 class="sub-heading2"> Hello, I am Julia Davis. I am a professional photographer by degree, and a mother of two by day (&amp; night). I have an endless curiosity for healthy cooking. You can find my works on <a href="#" class="color-s-500px">500px</a>, and my cooking tips and videos on <a href="#" class="color-s-youtube">YouTube</a>.</h2>
        <div class="space60"></div>
        <div class="d-md-flex">
          <div class="mr-auto">
            <h2 class="title-color color-dark mb-0">My Works</h2>
          </div>
          <div class="space20 d-md-none"></div>
          <div id="cube-grid-full-large-filter" class="cbp-filter-container text-md-right align-self-center mb-0">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
            <div data-filter=".commercial" class="cbp-filter-item">Commercial</div>
            <div data-filter=".conceptual" class="cbp-filter-item">Conceptual</div>
            <div data-filter=".interior" class="cbp-filter-item">Interior</div>
          </div>
        </div>
        <!-- /.d-flex --> 
      </div>
      <!-- /.inner -->
      <div class="container-fluid">
        <div id="cube-grid-full-large" class="cbp light-gallery">
          <div class="cbp-item interior">
            <figure class="overlay overlay2"><a href="style/images/art/fm1-full.jpg"><img src="style/images/art/fm1.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item conceptual interior">
            <figure class="overlay overlay2"><a href="style/images/art/fm2-full.jpg"><img src="style/images/art/fm2.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item commercial">
            <figure class="overlay overlay2"><a href="style/images/art/fm3-full.jpg"><img src="style/images/art/fm3.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item commercial">
            <figure class="overlay overlay2"><a href="style/images/art/fm4-full.jpg"><img src="style/images/art/fm4.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item conceptual commercial">
            <figure class="overlay overlay2"><a href="style/images/art/fm5-full.jpg"><img src="style/images/art/fm5.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item interior">
            <figure class="overlay overlay2"><a href="style/images/art/fm6-full.jpg"><img src="style/images/art/fm6.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item interior commercial">
            <figure class="overlay overlay2"><a href="style/images/art/fm7-full.jpg"><img src="style/images/art/fm7.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item conceptual commercial">
            <figure class="overlay overlay2"><a href="style/images/art/fm8-full.jpg"><img src="style/images/art/fm8.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item interior">
            <figure class="overlay overlay2"><a href="style/images/art/fm9-full.jpg"><img src="style/images/art/fm9.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item interior commercial">
            <figure class="overlay overlay2"><a href="style/images/art/fm10-full.jpg"><img src="style/images/art/fm10.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item interior commercial">
            <figure class="overlay overlay2"><a href="style/images/art/fm11-full.jpg"><img src="style/images/art/fm11.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item interior commercial">
            <figure class="overlay overlay2"><a href="style/images/art/fm12-full.jpg"><img src="style/images/art/fm12.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item --> 
        </div>
        <!--/.cbp -->
        <div class="space30"></div>
        <div id="cube-grid-full-large-more" class="text-center"> <a href="ajax/loadmore4.html" class="cbp-l-loadMore-link btn btn-full-rounded" rel="nofollow"> <span class="cbp-l-loadMore-defaultText">Load More</span> <span class="cbp-l-loadMore-loadingText">Loading...</span> <span class="cbp-l-loadMore-noMoreLoading">No More Works</span> </a> </div>
      </div>
      <!--/.container-fluid -->
      <div class="inner pb-30">
        <div class="content-footer d-md-flex text-center text-md-left">
          <div>
            <p>© 2018 Brailie. All rights reserved. Theme by elemis.</p>
          </div>
          <div class="space20 d-md-none"></div>
          <div class="ml-auto">
            <ul class="social social-bg social-s">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <!-- /.ml-auto --> 
        </div>
        <!-- /.content-footer --> 
      </div>
      <!-- /.inner --> 
    </div>
    <!-- /.wrapper --> 
  </div>
  <!-- /.content-right --> 
</div>
<!-- /.content-wrapper --> 
<script src="style/js/jquery.min.js"></script> 
<script src="style/js/popper.min.js"></script> 
<script src="style/js/bootstrap.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.tools.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script src="style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script> 
<script src="style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.video.min.js"></script> 
<script src="style/js/plugins.js"></script> 
<script src="style/js/scripts.js"></script>
</body>
</html>