<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="style/images/favicon.png">
<title>Brailie</title>
<link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style/css/plugins.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/settings.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/layers.css">
<link rel="stylesheet" type="text/css" href="style/revolution/css/navigation.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip.css">
<link rel="stylesheet" type="text/css" href="style/revolution/revolution-addons/typewriter/css/typewriter.css">
<link rel="stylesheet" type="text/css" href="style/type/icons.css">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="style/css/color/aqua.css">
<link rel="stylesheet" type="text/css" href="style/css/font/font6.css">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body class="onepage" data-spy="scroll" data-target=".navbar">
<div class="content-wrapper">
  <nav class="navbar transparent absolute nav-wrapper-dark inverse-text navbar-expand-lg text-uppercase">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand"><a href="index.html"><img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" /></a></div>
        <div class="navbar-hamburger ml-auto d-lg-none d-xl-none"><button class="hamburger animate" data-toggle="collapse" data-target=".navbar-collapse"><span></span></button></div> 
      </div>
      <!-- /.navbar-header -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link scroll" href="#home">Home</a></li>
          <li class="nav-item"><a class="nav-link scroll" href="#services">Services</a></li>
          <li class="nav-item"><a class="nav-link scroll" href="#portfolio">Portfolio</a></li>
          <li class="nav-item"><a class="nav-link scroll" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link scroll" href="#contact">Contact</a></li>
        </ul>
        <!-- /.navbar-nav -->
        <div class="navbar-divider"></div>
        <ul class="social social-mute social-s">
          <li><a href="#"><i class="fa fa-flickr"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container --> 
  </nav>
  <!-- /.navbar -->
  <section id="home" class="pt-0 mt-0">
    <div class="rev_slider_wrapper fullscreen-container">
      <div id="slider3" class="rev_slider fullscreenbanner light-spinner" data-version="5.4.8">
        <ul>
          <li data-transition="fade" data-fstransition="fade"><img src="style/images/dummy.png" alt="" />
            <div class="tp-caption font-weight-600 color-white text-uppercase text-center" 
			data-x="center"
			data-y="middle" 
			data-voffset="['-80','-80','-80','-80']"
			data-fontsize="['55','55','45','30']"
			data-lineheight="['65','65','55','40']"
			data-width="['1000','1000','700','450']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9; letter-spacing: 1px">Jonathan Davis Photography</div>
            <div class="tp-caption font-weight-400 color-white text-center" 
			data-x="center" 
			data-y="middle" 
			data-voffset="['0','0','0','0']"
			data-fontsize="['28','28','22','20']"
			data-lineheight="['38','38,'32','30']"
			data-width="['1000','1000','700','450']"
			data-textAlign="['center','center','center','center']"
			data-whitespace="['normal','normal','normal','normal']"
			data-frames='[{"from":"x:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9;">I take photographs with creativity, concept and passion</div>
            <a class="tp-caption btn btn-full-rounded btn-l btn-white scroll" 
			data-x="center" 
			data-y="middle" 
			data-voffset="['85','85','85','85']"
			data-width="['auto','auto','auto','auto']"
			data-textAlign="['center','center','center','center']"
			data-frames='[{"delay":1700,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-startslide="0" 
			data-endslide="3"
			data-responsive="on" 
			data-responsive_offset="on" 
			style="z-index: 9;" href="#portfolio">See My Portfolio</a> </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
      </div>
      <!-- /.rev_slider --> 
    </div>
    <!-- /.rev_slider_wrapper --> 
  </section>
  <!-- /section -->
  <section id="services">
    <div class="wrapper inverse-text">
      <div class="container inner pt-60 pb-140">
        <h2 class="section-title section-title-upper text-center">My Specialties</h2>
        <p class="lead2 text-center">I would like to give you a unique photography experience, built to serve you best and<br />
          capture your special moments for you and your families creatively and beautifully</p>
        <div class="space20"></div>
        <div class="tiles">
          <div class="items row">
            <div class="item col-md-4">
              <figure class="overlay-info"><img src="style/images/art/f4.jpg" alt="" />
                <figcaption class="d-flex">
                  <div class="align-self-center mx-auto">
                    <h4 class="mb-0 text-uppercase">Fashion<br />
                      Photography</h4>
                  </div>
                </figcaption>
              </figure>
            </div>
            <!--/.item -->
            <div class="item col-md-4">
              <figure class="overlay-info"><img src="style/images/art/f5.jpg" alt="" />
                <figcaption class="d-flex">
                  <div class="align-self-center mx-auto">
                    <h4 class="mb-0 text-uppercase">People & Portrait<br />
                      Photography</h4>
                  </div>
                </figcaption>
              </figure>
            </div>
            <!--/.item -->
            <div class="item col-md-4">
              <figure class="overlay-info"><img src="style/images/art/f9.jpg" alt="" />
                <figcaption class="d-flex">
                  <div class="align-self-center mx-auto">
                    <h4 class="mb-0 text-uppercase">Commercial<br />
                      Photography</h4>
                  </div>
                </figcaption>
              </figure>
            </div>
            <!--/.item --> 
          </div>
          <!--/.row --> 
        </div>
        <!-- /.tiles --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper --> 
  </section>
  <!-- /section -->
  <section id="portfolio">
    <div class="wrapper inverse-text">
      <div class="container inner pt-60 pb-140">
        <h2 class="section-title section-title-upper text-center">Selected Shots</h2>
        <p class="lead2 text-center">Here you will be able to find my selected shots</p>
        <div class="space30"></div>
        <div id="cube-grid-filter" class="cbp-filter-container text-center">
          <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
          <div data-filter=".commercial" class="cbp-filter-item">Commercial</div>
          <div data-filter=".conceptual" class="cbp-filter-item">Conceptual</div>
          <div data-filter=".interior" class="cbp-filter-item">Interior</div>
          <div data-filter=".macro" class="cbp-filter-item">Macro</div>
          <div data-filter=".video" class="cbp-filter-item">Video</div>
        </div>
        <div class="clearfix"></div>
        <div class="space20"></div>
        <div id="cube-grid" class="cbp light-gallery">
          <div class="cbp-item conceptual interior">
            <figure class="overlay overlay2"><a href="style/images/art/p16-full.jpg" data-sub-html="#caption1"><img src="style/images/art/p16.jpg" alt="" />
              <div id="caption1" class="d-none">
                <p>Cras mattis consectetur purus sit amet fermentum.</p>
              </div>
              </a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item commercial">
            <figure class="overlay overlay2"><a href="style/images/art/p17-full.jpg"><img src="style/images/art/p17.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item commercial macro">
            <figure class="overlay overlay2"><a href="style/images/art/p18-full.jpg" data-sub-html="#caption2"><img src="style/images/art/p18.jpg" alt="" />
              <div id="caption2" class="d-none">
                <p>Nulla vitae elit libero, a pharetra augue.</p>
              </div>
              </a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item conceptual interior">
            <figure class="overlay overlay2"><a href="style/images/art/p19-full.jpg"><img src="style/images/art/p19.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item interior video">
            <figure class="overlay overlay2"><a href="style/images/art/p20-full.jpg"><img src="style/images/art/p20.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item commercial macro">
            <figure class="overlay overlay2"><a href="style/images/art/p21-full.jpg"><img src="style/images/art/p21.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item interior">
            <figure class="overlay overlay2"><a href="style/images/art/p22-full.jpg"><img src="style/images/art/p22.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item conceptual interior">
            <figure class="overlay overlay2"><a href="style/images/art/p23-full.jpg"><img src="style/images/art/p23.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item commercial video">
            <figure class="overlay overlay2"><a href="style/images/art/p24-full.jpg"><img src="style/images/art/p24.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item conceptual commercial">
            <figure class="overlay overlay2"><a href="style/images/art/p25-full.jpg"><img src="style/images/art/p25.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item interior macro">
            <figure class="overlay overlay2"><a href="style/images/art/p26-full.jpg"><img src="style/images/art/p26.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item interior commercial">
            <figure class="overlay overlay2"><a href="style/images/art/p27-full.jpg"><img src="style/images/art/p27.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item -->
          <div class="cbp-item interior commercial">
            <figure class="overlay overlay2"><a href="style/images/art/p28-full.jpg"><img src="style/images/art/p28.jpg" alt="" /></a></figure>
          </div>
          <!--/.cbp-item --> 
        </div>
        <!--/.cbp --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper --> 
  </section>
  <!-- /section -->
  <section id="about">
    <div class="wrapper inverse-text">
      <div class="container inner pt-60 pb-140">
        <h2 class="section-title section-title-upper mb-40 text-center">About Me</h2>
        <div class="row gutter-60">
          <div class="col-lg-5 order-lg-2 text-md-center">
            <figure><img src="style/images/art/about16.jpg" alt="" /></figure>
          </div>
          <!-- /column -->
          <div class="space30 d-lg-none d-xl-none"></div>
          <div class="col-lg-7">
            <p class="lead larger">Hello! I'm Jonathan Davis, a fashion, people & portrait photographer. I am very passionate about photography and it becomes quite obvious in the way I create portraits.</p>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget.</p>
          </div>
          <!-- /column --> 
        </div>
        <!-- /.row -->
        <div class="space50"></div>
        <div class="row">
          <div class="col-md-4">
            <h4 class="text-uppercase">What is My Process?</h4>
            <p>Duis mollis, est non commodo luctus, nisi porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem.</p>
            <ol>
              <li>Vivamus sagittis lacus vel augue laoreet.</li>
              <li>Cras mattis consectetur purus sit amet.</li>
              <li>Vestibulum id ligula porta felis euismod.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ol>
          </div>
          <!-- /column -->
          <div class="col-md-4">
            <h4 class="text-uppercase">Why Choose Me?</h4>
            <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus.</p>
            <ul class="unordered-list list-default">
              <li>Donec ullamcorper nulla non metus auctor.</li>
              <li>Cras justo odio, dapibus ac facilisis.</li>
              <li>Praesent commodo cursus magna.</li>
              <li>Curabitur blandit tempus porttitor.</li>
            </ul>
          </div>
          <!-- /column -->
          <div class="col-md-4">
            <h4 class="text-uppercase">My Skills</h4>
            <ul class="progress-list">
              <li>
                <p>Photoshop</p>
                <div class="progressbar line border default" data-value="90"></div>
              </li>
              <li>
                <p>Final Cut</p>
                <div class="progressbar line border default" data-value="80"></div>
              </li>
              <li>
                <p>Studio Photography</p>
                <div class="progressbar line border default" data-value="85"></div>
              </li>
              <li>
                <p>Motion Video</p>
                <div class="progressbar line border default" data-value="65"></div>
              </li>
            </ul>
            <!-- /.progress-list --> 
          </div>
          <!-- /column --> 
        </div>
        <!-- /.row -->
        <div class="space20"></div>
        <div class="text-center"><a href="#contact" class="btn btn-full-rounded scroll">Get in Touch</a></div>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper --> 
  </section>
  <!-- /section -->
  <section id="contact">
    <div class="wrapper inverse-text">
      <div class="container inner pt-60 pb-140">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h2 class="section-title section-title-upper mb-40 text-center">Get in Touch</h2>
            <p class="lead2 text-center">Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat.</p>
            <div class="space20"></div>
            <div class="row text-center">
              <div class="col-md-4"> <span class="icon icon-color color-white fs-48 mb-10"><i class="si-camping_map"></i></span>
                <p>Moon Street Light Avenue<br>
                  14/05 Jupiter, JP 80630</p>
              </div>
              <!--/column -->
              <div class="col-md-4"> <span class="icon icon-color color-white fs-48 mb-10"><i class="si-phone_phone-ringing"></i></span>
                <p>00 (123) 456 78 90<br>
                  00 (987) 654 32 10 </p>
              </div>
              <!--/column -->
              <div class="col-md-4"> <span class="icon icon-color color-white fs-48 mb-10"><i class="si-mail_mail-2"></i></span>
                <p><a class="nocolor" href="mailto:#">manager@email.com</a><br>
                  <a class="nocolor" href="mailto:#">asistant@email.com</a></p>
              </div>
              <!--/column --> 
            </div>
            <!--/.row -->
            <div class="space30"></div>
            <div class="form-container">
              <form action="contact/vanilla-form.php" method="post" class="vanilla vanilla-form" novalidate>
                <div class="row text-center">
                  <div class="col-md-6 pr-10">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" placeholder="Your name" required="required">
                    </div>
                    <!--/.form-group --> 
                  </div>
                  <!--/column -->
                  <div class="col-md-6 pl-10">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Your e-mail" required="required">
                    </div>
                    <!--/.form-group --> 
                  </div>
                  <!--/column -->
                  <div class="col-md-6 pr-10">
                    <div class="form-group">
                      <input type="tel" class="form-control" name="tel" placeholder="Phone">
                    </div>
                    <!--/.form-group --> 
                  </div>
                  <!--/column -->
                  <div class="col-md-6 pl-10">
                    <div class="form-group">
                      <input type="text" class="form-control" name="subject" placeholder="Subject">
                    </div>
                    <!--/.form-group --> 
                  </div>
                  <!--/column -->
                  <div class="col-12">
                    <textarea name="message" class="form-control" rows="3" placeholder="Type your message here..." required></textarea>
                    <div class="space20"></div>
                    <button type="submit" class="btn btn-full-rounded" data-error="Fix errors" data-processing="Sending..." data-success="Thank you!">Submit</button>
                    <footer class="notification-box"></footer>
                  </div>
                  <!--/column --> 
                </div>
                <!--/.row -->
              </form>
              <!--/.vanilla-form --> 
            </div>
            <!--/.form-container --> 
          </div>
          <!-- /column --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.wrapper --> 
  </section>
  <!-- /section -->
  <footer class="inverse-text">
    <div class="sub-footer">
      <div class="container inner text-center"> <img src="#" srcset="style/images/logo-light.png 1x, style/images/logo-light@2x.png 2x" alt="" />
        <div class="space25"></div>
        <p>© 2018 Brailie. All rights reserved. Theme by elemis.</p>
        <div class="space30"></div>
        <ul class="social social-bg social-s">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.sub-footer --> 
  </footer>
</div>
<!-- /.content-wrapper --> 
<script src="style/js/jquery.min.js"></script> 
<script src="style/js/popper.min.js"></script> 
<script src="style/js/bootstrap.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.tools.min.js"></script> 
<script src="style/revolution/js/jquery.themepunch.revolution.min.js"></script> 
<script src="style/revolution/revolution-addons/filmstrip/js/revolution.addon.filmstrip.min.js"></script> 
<script src="style/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.actions.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.carousel.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.migration.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.navigation.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.parallax.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.slideanims.min.js"></script> 
<script src="style/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="style/js/plugins.js"></script> 
<script src="style/js/scripts.js"></script> 
<script>
	$.backstretch([
      "style/images/art/bg26.jpg"
  ], {duration: 5000, fade: 1000});
</script>
</body>
</html>